<h1>Editing website</h1>

<% form_for(@website) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url, :size => 70 %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 70 %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<br /><br />

<!-- doesn't work: <%= link_to 'Back to community page', @community %>
<br /><br /><br />  -->

<%= link_to 'Show this website\'s data', @website %>
<br /><br /><br />
<%= link_to 'List all websites/blogs', websites_path %>

<br /><br /><br /><br />
