%h1.permission Listing websites

%table
  %tr
    %th id
    %th Title
    %th Url
    %th Feed_url
    %th Creator_ip
    %th Created
    %th Updated

  - for website in @websites
    %tr
      %td= website.id
      %td= h website.title
      %td= h website.url
      %td= h website.feed_url
      %td= h website.creator_ip
      %td= h website.created_at
      %td
        - unless website.updated_at == website.created_at
          = h website.updated_at
      %td= link_to 'Show', website
      %td= link_to 'Edit', edit_website_path(website)
      %td= link_to 'Destroy', website, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New website', new_website_path

%br
%br
