- @page_title = 'Add website'

%br

%h2
  Add a website/blog to
  = h @community.short_name
  voter community ballot:

%br

- form_for @website, :url => { :action => :create, :community_id => @community} do |f|
  = f.error_messages

  %p
    = f.label :title
    %br
    = f.text_field :title, :size => 70
  %br

  %p
    = f.label :url
    %br
    = f.text_field :url, :size => 70, :value => "http://"
  %br

  %p
    = f.label :feed_url
    %br
    = f.text_field :feed_url, :size => 70
  %br

  %p
    = f.submit "Add"
%br
%br
%br

%p= link_to("Back to " + @community.short_name + " page", @community)

%br
%br
%br
%br
%br
%br
%br