%h1.permission Listing rankings

%table
  %tr
    %th Community id
    %th Website id
    %th Rank
    %th Share
    %th Count0
    %th Count1
    %th Sequence
    %th Created at
    %th Updated at

  - for ranking in @rankings
    %tr
      %td= h ranking.community_id
      %td= h ranking.website_id
      %td= number_with_precision(ranking.rank, :precision => 0)
      %td= number_with_precision(ranking.share, :precision => 0)
      %td= h ranking.count0
      %td= h ranking.count1
      %td= h ranking.sequence
      %td= h ranking.created_at
      %td= h ranking.updated_at
      %td= link_to 'Show', ranking
      %td= link_to 'Destroy', ranking, :confirm => 'Are you sure?', :method => :delete

%br
