- @page_title = @website.title

%h1= @website.title

%h3
  Past funding shares in community ballot for
  = link_to @community.short_name, @community
  
- total = 0.00
- @past_rankings.each do |pr|
  - total += pr.award

%table#table1
  %tr
    %td
    %td{:style => "font-weight: bold; text-align: right", :colspan => 3} Total:
    %td.cell-centred.cell-like-link= '$' + number_with_precision(total, :precision => 2).to_s

  %tr.header
    %td.header-centred Date
    %td.header-centred Rank
    %td.header-centred Share
    %td.header-centred of Funding
    %td.header-centred = Award

  - for past_ranking in @past_rankings
    %tr{:class => cycle('list-line-odd', 'list-line-even')}
      %td.cell-centred= past_ranking.created_at.to_s(:Ymd)
      - if past_ranking.status == "limbo"
        %td.cell-centred= '--'
        %td.cell-centred.cell-like-link= '--'
      - else
        %td.cell-centred= past_ranking.rank
        %td.cell-centred.cell-like-link= number_with_precision(past_ranking.share, :precision => 0) + '%'
      %td.cell-centred= '$' + number_with_precision(past_ranking.funds, :precision => 0)
      - if past_ranking.award == 0.0
        %td.cell-centred.cell-like-link= '--'
      - else
        %td.cell-centred.cell-like-link= '$' + number_with_precision(past_ranking.award, :precision => 2)

%br
