- @page_title = 'GPW clippings'

%h2
  = link_to 'Global Proxy Watch', 'http://proxywatch.com'
  coverage of the Corporate Monitoring Project 1997-2005:
  
%h4
  (CMP was the predecessor of VoterMedia.org. See the full
  %span
  %span>= link_to 'media coverage table', clippings_path
  \.)

%hr

%a{ :name => '2005-07-01'}
%h4
  From
  %em Global Proxy Watch
  Vol. IX No. 25 – July 1, 2005:

%blockquote
  %strong
    %em
      %big My Proxy Advisor.
  You are a small investor with no resources to contract for proxy voting advice. What to do? An ingenious free service starting up by December is designed to help.
  %strong= link_to 'My Proxy Advisor', 'http://www.myproxyadvisor.com/'
  (MPA) will automatically harvest voting decisions uploaded to the web before AGMs by institutional investors.
  %strong Any shareowner can use the service to select a favorite fund to piggyback, and get email alerts of how the fund is voting on shares owned in common.
  MPA is the brainchild of Andrew Eggers, a doctoral student in
  %span
  %strong> Harvard University
  ’s government department. The service is based on ideas pioneered by Mark Latham’s
  %span
  %strong>= link_to 'Corporate Monitoring Project', 'http://www.corpmon.com/'
  \.

%hr

%a{ :name => '2004-01-30'}
%h4
  From
  %em Global Proxy Watch
  Vol. VIII No. 5 – January 30, 2004:

%blockquote
  %strong
    %em
      %big It Matters.
  Welcome a creative new front in shareowner activism made possible by the web.
  %strong
    On Wednesday,
    = link_to 'www.proxymatters.com', 'http://www.proxymatters.com/'
    opened for business, giving investors a cheap, easy means to share information on controversial US ballots.
  Click on a company—say,
  %strong= link_to 'Disney', 'http://www.disney.com/'
  meeting on March 3—and you can access comments on director nominees and each resolution. There is a scoreboard showing how users feel about management proposals, director
  = link_to 'opposition', 'http://www.savedisney.com/'
  from Roy Disney, and challenge resolutions. Site founder and CEO Brian Heil, an ex
  %strong Deutsche Bank
  M&A advisor, expects soon to ramp up coverage to all US large caps with ballot contests. Browsing and posting messages on proxymatters.com is free. Revenues come when users place a bid to gain premium placement for their messages—like an Internet cross between classified advertising and an
  %span
  %strong> eBay
  \-style auction. The higher the bid, the better the placement. Readers are likely to be individual shareowners, particularly those unable to afford high-priced proxy analysis services.
  %strong But message authors could be both institutions and private investors jockeying for shareowner support.
  No such focused bulletin board now exists on the web. But a related service is under development.
  %strong= link_to 'The Corporate Monitoring Project', 'http://www.corpmon.com/'
  (CMP), based in Vancouver, plans a site where individual investors can call up a North American AGM agenda and pattern their own proxy votes on instructions made public in advance by institutional investors they select, such as
  %strong= link_to 'CalPERS', 'http://www.calpers.ca.gov/'
  or
  %span
  %strong>= link_to 'Ontario Teachers', 'http://www.otpp.com/web/website.nsf/web/home'
  \.

%hr

%a{ :name => '2002-02-08'}
%h4
  From
  %em Global Proxy Watch
  Vol. VI No. 6 – Feb 8, 2002:

%blockquote
  %strong
    %em
      %big Auditors.
  Shareowners should elect a company’s auditor among competing candidates, argues an innovative shareowner resolution filed Jan. 25 at
  %span
  %strong> Fleetwood Enterprises
  \. Proponent Mark Latham, editor of the
  %strong= link_to 'Corporate Monitoring', 'http://www.corpmon.com/'
  website, asserts the measure would underscore an auditor’s accountability to investors rather than management.

%hr

%a{ :name => '2000-12-22'}
%h4
  From
  %em Global Proxy Watch
  Vol. IV No. 46 – Dec 22, 2000:

%blockquote
  %strong
    %em
      %big Independent Choice.
  Should shareowners face a choice of auditors on an annual meeting ballot? Activist Mark Latham thinks such a practice could make the outside auditor more independent, and underscore its accountability to investors rather than management. Latham is best known for his dissident resolutions calling on companies to commission analyses of their agendas by independent proxy advisory firms (
  %strong> GPW
  %span
  Oct. 29 1999). His latest proposal is aimed, first, at the California media supplier
  %strong SONICblue
  (formerly S3). Latham isn’t worried about any financial irregularities there; it is just a test case for the idea.
  %strong His resolution calls on the company to allow any qualified auditing firm to nominate itself on the 2002 ballot to undertake the audit. Management could still make a recommendation, but shareowners would have the final say.
  Latham contends that current practice in the US allows shareowners only a “rubber stamp” vote on the auditor selected by management. A contest, he argues, would put new pressure on auditors to keep their reputations for independence spotless. The idea could appeal—especially at companies where shareowners doubt the competence or freedom of a board audit committee. But it could also raise a host of practical questions—such as how the board could negotiate an audit contract when it has no power to choose the winning firm.
  %em
    See
    %span
    %span>= link_to 'www.corpmon.com', 'http://www.corpmon.com/'
    \.

%hr

%a{ :name => '1999-10-29'}
%h4
  From
  %em Global Proxy Watch
  Vol. III No. 40 –  Oct. 29, 1999:

%blockquote
  %strong
    %em
      %big Watch Me.
  Imagine a company sending its shareholders a report branding its own CEO an overpaid failure. Not likely? Right, but an innovative dissident resolution surfacing in the U.S. could ask it to do so. Brainchild of academic/activist Mark Latham, the model proposal asks a corporation to arrange for an independent analysis of that year’s annual meeting agenda. Management would solicit candidate firms to pay an entry fee and place themselves on a ballot. [At the moment, only three advisors cover U.S. companies—
  %strong> Institutional Shareholder Services
  , the
  %span
  %strong> Investor Responsibility Research Center
  , and
  %span
  %strong> Proxy Monitor
  \.] The winner of a shareholder vote would then produce a report paid for by the company and sent free to all shareowners. Latham argues that current practice, whereby institutions buy independent advice but small investors can’t afford to, is inequitable.
  %strong And, the San Francisco economist adds, the system helps entrench management since most individual investors vote automatically with the board.
  Investor James McRitchie has already filed the resolution at
  %span
  %strong> Whole Foods Market
  , the Austin, Texas-based natural food supermarket chain. McRitchie is a California state employee and editor of a governance website who last year ran an unsuccessful campaign to unseat
  %strong CalPERS
  head Bill Crist. Of course, questions about the proposal abound, starting with why any company management would agree to a system that might turn votes against it. But give Latham credit for opening up debate on ways of improving corporate performance through better owner oversight. See
  %span
  %span>=link_to 'www.corpmon.com', 'http://www.corpmon.com/'
  \.

%hr

%a{ :name => '1997-12-26'}
%h4
  From
  %em Global Proxy Watch
  Vol. I No. 46 – Dec. 26, 1997:

%blockquote
  %strong
    %em
      %big Twin drives press for independent bodies to monitor management
  %p Captive directors, corruption, inefficiency, excessive power, conflicts of interest. Welcome to the unitary, Anglo-Saxon-style corporate board, say critics Shann Turnbull, an Australian business executive, and San Francisco economist Mark Latham.
  %strong The two have launched separate campaigns to reform boards by introducing independent monitoring panels. The ideas come as institutional investors focus more attention on how directors and boards can best operate in shareholders’ interests.

  %p Independent outsiders and executives are supposed to sit productively together on the unitary board. Turnbull and Latham, however, say the system is flawed. Directors set their own pay, devise standards by which their own performance is evaluated, pick their own membership, control the audit, monopolize power to change the bylaws, and command shareholder meetings and voting. Outsiders are quickly co-opted by executives, resulting in boards run in the interests of management rather than owners, say the two.

  %p
    %strong Turnbull’s solution is a “senate” watchdog body with independent members elected on a one-shareholder, one-vote poll.
    Each company’s senate would set accounting policies, oversee the audit, nominate board members, determine executive pay, and veto director acts deemed to feature conflicts of interest. Its decisions, in turn, could be overridden by a 75% one-share, one-vote ballot.

  %p
    %strong Latham’s answer: shareholders at each company should select an independent “monitoring intermediary” firm to nominate directors to a board.
    This would “break the existing incestuous cycle of directors nominating directors,” argues Latham.
  %p
    Request Turnbull’s articles through email at
    %em shann@peg.apc.org
    or see his piece in the journal
    %span
    %em> Corporate Governance: An International Review
    , Oct. 1997. Find Latham’s ideas at
    %em <http://www.corpmon.com>
    and in the Sept./Oct. 1997 edition of
    %em The Corporate Board
    magazine.
%br