- @page_title = 'Clippings'

%h1{:style => "text-align: center"} Clippings: Media coverage of VoterMedia

- if can? :create, Clipping
  %span.permission= link_to 'Add new clipping', new_clipping_path
  %br
  %br

%table#table1
  %tr.header 
    %td.header-centred Date
    %td.header-centred Source
    %td.header-centred Author
    %td.header-centred Title & Link
    %td.header-centred Description

  - for clipping in @clippings
    %tr{:class => cycle('list-line-odd', 'list-line-even')}
      %td.cell-centred= clipping.date_text
      %td.cell-link.cell-centred= link_to clipping.source, clipping.source_url
      %td.cell-centred= clipping.author
      %td.cell-link.cell-centred= link_to clipping.title, clipping.title_url
      %td.cell-centred= simple_format clipping.description
      - if can? :update, clipping
        %td.permission= link_to 'Edit', edit_clipping_path(clipping)
        -# %td.permission= link_to 'Destroy', clipping, :confirm => 'Are you sure?', :method => :delete
        %td.permission= button_to "Destroy", clipping, :method=>:delete, :confirm=>"Are you sure?"
%br
