<h1>Listing clippings</h1>

<table>
  <tr>
    <th>Date sequence</th>
    <th>Date text</th>
    <th>Source</th>
    <th>Source url</th>
    <th>Author</th>
    <th>Title</th>
    <th>Title url</th>
    <th>Description</th>
  </tr>

<% @clippings.each do |clipping| %>
  <tr>
    <td><%=h clipping.date_sequence %></td>
    <td><%=h clipping.date_text %></td>
    <td><%=h clipping.source %></td>
    <td><%=h clipping.source_url %></td>
    <td><%=h clipping.author %></td>
    <td><%=h clipping.title %></td>
    <td><%=h clipping.title_url %></td>
    <td><%=h clipping.description %></td>
    <td><%= link_to 'Show', clipping %></td>
    <td><%= link_to 'Edit', edit_clipping_path(clipping) %></td>
    <td><%= link_to 'Destroy', clipping, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New clipping', new_clipping_path %>