= form_for(@faq) do |f|
  = f.error_messages
 
  %p
    = f.label :category
    %br
    = f.select (:category, ['1. Organization', '2. Listings', '3. Voting', '4. Why VM Works', '9. Other'])
  
  %p
    = f.label :sequence
    %br
    = f.text_field :sequence
  
  %p
    = f.label :importance
    %br
    = f.text_field :importance
  
  %p
    = f.label :question
    %br
    = f.text_field :question, :size => 100
  
  %p
    = f.label :answer
    %br
    = f.text_area :answer, :cols => 70
  
  %p
    = f.submit "Submit"

%br

= link_to 'Back to FAQs', faqs_path

%br
%br
