<title>VoterMedia: FAQ</title>

<h1>Frequently Asked Questions</h1>

<table id="faq">
  <tr>
    <td class="question"><i>Question</i></td>
    <td class="category"><i>Category</i></td>
  </tr>
  <tr>
    <td class="answer", colspan="2"><i>Answer</i></td>
  </tr>

<% for faq in @faqs %>
  <tr>
    <td class="question"><a name="<%=h faq.category %>"></a><%=h faq.question %></td>
    <td class="category"><%=h faq.category %></td>
<!--    <td><%= link_to 'Show', faq %></td> -->
    <td><%= link_to 'Edit', edit_faq_path(faq) %></td>
<!--    <td><%= link_to 'Destroy', faq, :confirm => 'Are you sure?', :method => :delete %></td>  -->
  </tr>
  <tr>
    <td class="answer", colspan="2"><%= faq.answer %></td>
<!--    <td class="grey">Seq <%=h faq.sequence %></td>  -->
<!--    <td><%=h faq.importance %></td>  -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create new FAQ', new_faq_path %>

<br /><br />
