- @page_title = 'FAQs'

%table{:style => "margin: auto;"}
  %tr
    %td
      %img{:src => "images/blonde.jpg", :height => 409}
    %td
      %h1{:style => "text-align: center; padding: 0.5em"} Frequently Asked Questions
    %td
      %img{:src => "images/lemur.jpg", :height => 409}

- if can? :create, Faq
  %span.permission= link_to 'Create new FAQ', new_faq_path

%table#faq{:cellspacing => 0, :style => "width: 80%; min-width: 46em; margin-left: 10%; margin-right: 10%;"}

  %tr
    %td
      %hr
      %a{ :name => "Our Organization" }
      %h3 FAQs: Our Organization
  
  - faqs = Faq.where("category = ?", "1. Organization").order("sequence")
  - for faq in faqs

    %tr
      %td.question
        = h faq.question
      - if can? :update, faq
        %td.permission= link_to 'Edit', edit_faq_path(faq)

    %tr
      %td.answer
        = faq.answer.html_safe
      - if can? :update, faq
        %td.permission= faq.sequence

  %tr
    %td
      %hr
      %a{ :name => "Ballot Listings" }
      %h3 FAQs: Ballot Listings
  
  - faqs = Faq.where("category = ?", "2. Listings").order("sequence")
  - for faq in faqs

    %tr
      %td.question
        = h faq.question
      - if can? :update, faq
        %td.permission= link_to 'Edit', edit_faq_path(faq)

    %tr
      %td.answer
        = faq.answer.html_safe
      - if can? :update, faq
        %td.permission= faq.sequence

  %tr
    %td
      %hr
      %a{ :name => "Voting" }
      %h3 FAQs: Voting
  
  - faqs = Faq.where("category = ?", "3. Voting").order("sequence")
  - for faq in faqs

    %tr
      %td.question
        = h faq.question
      - if can? :update, faq
        %td.permission= link_to 'Edit', edit_faq_path(faq)

    %tr
      %td.answer
        = faq.answer.html_safe
      - if can? :update, faq
        %td.permission= faq.sequence

  %tr
    %td
      %hr
      %a{ :name => "Why VoterMedia Works" }
      %h3 FAQs: Why VoterMedia Works
  
  - faqs = Faq.where("category = ?", "4. Why VM Works").order("sequence")
  - for faq in faqs

    %tr
      %td.question
        = h faq.question
      - if can? :update, faq
        %td.permission= link_to 'Edit', edit_faq_path(faq)

    %tr
      %td.answer
        = faq.answer.html_safe
      - if can? :update, faq
        %td.permission= faq.sequence

%br

- if can? :create, Faq
  %span.permission= link_to 'Create new FAQ', new_faq_path
  %br
  %br
