- @page_title = 'FAQ'

%h1 Frequently Asked Questions

%table#faq
  %tr
    %td.question
      %i Question
    %td.category
      %i Category
  
  %tr
    %td.answer{:colspan => 2}
      %i Answer

  - for faq in @faqs

    %tr
      %td.question
        %a{ :name => faq.category }
        = h faq.question
      %td.category
        = h faq.category
      %td
        = link_to 'Edit', edit_faq_path(faq)
    
    %tr
      %td.answer{:colspan => 2}
        = faq.answer

%br

= link_to 'Create new FAQ', new_faq_path

%br
%br
