%p
  %b Category:
  = h @faq.category

%p
  %b Sequence:
  = h @faq.sequence

%p
  %b Importance:
  = h @faq.importance

%p
  %b Question:
  = h @faq.question

%p
  %b Answer:
  = @faq.answer

- if can? :update, @faq
  = link_to 'Edit', edit_faq_path(@faq)
|
= link_to 'Back', faqs_path

%br
%br
%br
%br
%br