- @page_title = 'Presentations'

%h1{:style => "text-align: center"} Presentations

%h3{:style => "text-align: center"} Talks by Mark Latham on Votermedia in corporations and democracies

- if can? :create, Presentation
  %p.permission= link_to 'Add new presentation', new_presentation_path

%table#table1{:style => "margin: auto;"}
  %tr.header 
    %td.header-centred Date
    %td.header-centred Institution / Event
    %td.header-centred Host

  - for presentation in @presentations
    %tr{:class => cycle('list-line-odd', 'list-line-even')}
      %td.cell-centred= presentation.pdate
      %td.cell-centred{:style => "font-weight: bold"}= simple_format presentation.place
      %td.cell-centred= simple_format presentation.host
      - if can? :update, presentation
        %td.permission= link_to 'Edit', edit_presentation_path(presentation)

%br
