- @page_title = 'Presentations'

%h1{:style => "text-align: center"} Presentations

%h3{:style => "text-align: center"} Talks by Mark Latham on VoterMedia in corporations and democracies

- if current_user and (current_user.permission >= 7.0)
  %p.permission= link_to 'Add new presentation', new_presentation_path

%table#table1{:style => "margin: auto;"}
  %tr.header 
    %td.header-centred Date
    %td.header-centred Institution / Event
    %td.header-centred Host

  - for presentation in @presentations
    %tr{:class => cycle('list-line-odd', 'list-line-even')}
      %td.cell-centred= presentation.pdate
      %td.cell-centred{:style => "font-weight: bold"}= simple_format presentation.place
      %td.cell-centred= simple_format presentation.host
      - if current_user and (current_user.permission >= 7.0)
        %td.permission= link_to 'Edit', edit_presentation_path(presentation)
        %td.permission= link_to 'Destroy', presentation, :confirm => 'Are you sure?', :method => :delete

%br
