<h1>New presentation</h1>

<% form_for(@presentation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pdate %><br />
    <%= f.date_select :pdate %>
  </p>
  <p>
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.label :host %><br />
    <%= f.text_field :host %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', presentations_path %>