- @page_title = 'Admin'

%h2.permission Admin for VoterMedia.org website

%h4 Tally all percent votes:
[BEWARE: May cause confusion if you use this button in production. Users expect
%br &nbsp; current ranks & shares to match the latest stored values on Past Shares page.]
%p= button_to 'Tally all', :action => :tally_all

-# %h4 Set ballot types:
-# Was only needed once when we created this field. Beware of unintended data changes.
-# %p= button_to 'Set ballot types', :action => :set_ballot_types

%h4 Data listings:
 
%p= link_to 'Colleagues', colleagues_path

%p= link_to 'Communities', manage_communities_path

%p= link_to 'Faqs', faqs_path

%p= link_to 'Pubs', pubs_path

%p= link_to 'Rankings', rankings_path

-# %p= link_to 'Users', users_path

%p= link_to 'Votes', votes_path

%p= link_to 'Vote Summary', votesummary_path

%p= link_to 'Websites', websites_path

%p= link_to 'Shared ips', shared_ips_path

%br
