- @page_title = 'Admin'

%h2.permission Admin for VoterMedia.org website

%h4 Recalculate all rankings:

%p= button_to 'Rerank all', :action => :rerank_all

%h4 Data listings:
 
%p= link_to 'Colleagues', colleagues_path

%p= link_to 'Communities', manage_communities_path

%p= link_to 'Faqs', faqs_path

%p= link_to 'Pubs', pubs_path

%p= link_to 'Rankings', rankings_path

%p= link_to 'Users', users_path

%p= link_to 'Votes', votes_path

%p= link_to 'Websites', websites_path

%h4 Data downloads:
 
%p
  = link_to 'colleagues.yaml', '/colleagues.yaml'
  \[index listing restricted to admin]

%p
  = link_to 'communities.yaml', '/communities.yaml'
  \[may want to comment out index.wants.yaml in communities_controller when not using this link]

%p
  = link_to 'faqs.yaml', '/faqs.yaml'
  \[always enabled -- no confidential data]

%p
  = link_to 'pubs.yaml', '/pubs.yaml'
  \[always enabled -- no confidential data]

%p
  = link_to 'rankings.yaml', '/rankings.yaml'
  \[index listing restricted to admin]

%p
  = link_to 'votes.yaml', '/votes.yaml'
  \[index listing restricted to admin]

%p
  = link_to 'websites.yaml', '/websites.yaml'
  \[index listing restricted to admin]

%p
  = button_to 'Clean data', :action => :clean_data
  (Do this once after uploading data from yaml files.
  It trims the newlines & whitespace off the end of three fields. Newlines got added as a way of
  handling special characters like colons or pipes -- I forget which.)

%br
