%title VoterMedia: Admin
 
%h2 Website Administration

%h4 Recalculate all rankings:

%p= button_to 'Rerank all', :action => :rerank_all

%h4 Data listings:
 
%p= link_to 'Colleagues', colleagues_path

%p= link_to 'Communities', communities_path

%p= link_to 'Faqs', faqs_path

%p= link_to 'Pubs', pubs_path

%p= link_to 'Rankings', rankings_path

%p= link_to 'Votes', votes_path

%p= link_to 'Websites', websites_path

%h4 Data downloads:
 
%p= link_to 'colleagues.yaml', '/colleagues.yaml'

%p= link_to 'communities.yaml', '/communities.yaml'

%p= link_to 'faqs.yaml', '/faqs.yaml'

%p= link_to 'pubs.yaml', '/pubs.yaml'

%p= link_to 'rankings.yaml', '/rankings.yaml'

%p= link_to 'votes.yaml', '/votes.yaml'

%p= link_to 'websites.yaml', '/websites.yaml'

%br
