- @page_title = "Sign In"

%h2 Sign In

- if @authentications
  - unless @authentications.empty?
    %p
      %strong You can sign in to this account using:
    %div.authentications
      - for authentication in @authentications
        %div.authentication
          = image_tag "#{authentication.provider}_32.png", :size => "32x32"
          %div.provider= authentication.provider.titleize
          %div.uid= authentication.uid
          -# = link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove"
          = button_to "Delete", authentication, :method=>:delete, :class=>"remove", :confirm=>"Are you sure you want to remove this authentication option?"
        %div.clear
  %p
    %strong Add another service to sign in with:
- else
  %p
    %strong Sign in through one of these services:

%a.auth_provider{:href=>"/auth/facebook"}
  = image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook"
  Facebook
  
%a.auth_provider{:href=>"/auth/linked_in"}
  = image_tag "linked_in_64.png", :size => "64x64", :alt => "LinkedIn"
  LinkedIn
  
%a.auth_provider{:href=>"/auth/twitter"}
  = image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter"
  Twitter
  
-# %a.auth_provider{:href=>"/auth/google_apps"}
-#   = image_tag "google_64.png", :size => "64x64", :alt => "Google"
-#   Google
  
%div.clear

- unless user_signed_in?
  %p
    %strong Don't use these services?
    = link_to "Register", new_user_registration_path
    or
    = link_to "login", new_user_session_path
    with a password.
