- @page_title = "Sign In"

%h2 Sign In

- if @authentications
  - unless @authentications.empty?
    %p
      %strong You can sign in to this account using:
    %div.authentications
      - for authentication in @authentications
        %div.authentication
          = image_tag "#{authentication.provider}_32.png", :size => "32x32"
          %div.provider= authentication.provider.titleize
          %div.uid= authentication.uid
          -# This code below isn't working: :confirm => "Are you sure?"
          -# Possible cause & solution at http://railsforum.com/viewtopic.php?id=38460
          = button_to "Delete", authentication, :method=>:delete, :class=>"remove", :confirm=>"Are you sure?"
        %div.clear
  -# %p
  -#   %strong Add another service to sign in with:
- else
  %a.auth_provider{:href=>"/auth/facebook"}
    = image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook"
    Facebook
  
-# %a.auth_provider{:href=>"/auth/linked_in"}
-#   = image_tag "linked_in_64.png", :size => "64x64", :alt => "LinkedIn"
-#   LinkedIn
  
-# %a.auth_provider{:href=>"/auth/twitter"}
-#   = image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter"
-#   Twitter
  
-# %a.auth_provider{:href=>"/auth/google_apps"}
-#   = image_tag "google_64.png", :size => "64x64", :alt => "Google"
-#   Google
  
%div.clear

- unless user_signed_in?
  %p
    %strong
    = link_to "Other login options", new_user_session_path
