<title>VoterMedia.org</title>

<h2>What are the best websites/blogs serving your voter communities?</h2>

<p>Follow links to community ballots, then vote on website/blog rankings:</p>

<table id="community-list">
  <tr class="community-list-header">
    <td></td>
    <td></td>
    <td></td>
    <td class="community-other-header" colspan="2">--- Headquarters ---</td>
    <td class="community-other-header">Regional</td>
    <td class="community-other-header">#web-</td>
  </tr>
  <tr class="community-list-header">
    <td></td>
    <td class="community-name-header">Link to Community Ballot</td>
    <td class="community-other-header">Type</td>
    <td class="community-other-header">Country</td>
    <td class="community-other-header">Prov/State</td>
    <td class="community-other-header">Scope</td>
    <td class="community-other-header">sites</td>
  </tr>

  <% for community in @communities %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class="add-button">
<!-- Uncomment to create Add buttons
      <input type="submit" value="<< Add" />
-->
    </td>
    <div>
    <td class="community-name"><%= link_to community.name, community %></td>
<!-- Uncomment when create Add buttons, add heading, delink community names
    <td>&nbsp;<%= link_to "View", community %>&nbsp;</td>
-->
    <td class="community-other"><%=h community.category %></td>
    <td class="community-other"><%=h community.country %></td>
    <td class="community-other"><%=h community.prov_state %></td>
    <td class="community-other"><%=h truncate(community.scope, 20) %></td>
    <td class="community-other"><%=h community.websites.count %></td>
    <td>&nbsp;<%= link_to "Edit", edit_community_path(community) %>&nbsp;</td>
    </div>
  </tr>
<% end %>
</table>

<br />

 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
Is your voter community not in our system? <%= link_to 'Add it!', new_community_path %>
<br /><br />