<title>VoterMedia.org</title>

<h2>What are the best websites/blogs serving your voter communities?</h2>

<p>Follow links to community ballots, then vote on website/blog rankings:</p>

<table id="table1" cellspacing="0">

  <tr class="header">
    <td></td>
    <td class="header-left">Community Name</td>
    <td class="header-centred">Type</td>
    <td class="header-centred" colspan="2">--- Headquarters ---</td>
    <td class="header-centred">Regional</td>
    <td class="header-centred">#web-</td>
  </tr>
  <tr class="header">
    <td></td>
    <td class="header-left">&nbsp; &nbsp; &nbsp; & link to ballot</td>
    <td class="header-centred"></td>
    <td class="header-centred">Country</td>
    <td class="header-centred">Prov/State</td>
    <td class="header-centred">Scope</td>
    <td class="header-centred">sites</td>
  </tr>

  <% for community in @communities %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class="add-button">
<!-- Uncomment to create Add buttons
      <input type="submit" value="<< Add" />
-->
    </td>
    <div>
    <td class="cell-link"><%= link_to community.name, community %></td>
<!-- Uncomment when create Add buttons, add heading, delink community names
    <td>&nbsp;<%= link_to "View", community %>&nbsp;</td>
-->
    <td class="cell-centred"><%= community.category %></td>
    <td class="cell-centred"><%=h community.country %></td>
    <td class="cell-centred"><%=h community.prov_state %></td>
    <td class="cell-centred"><%=h truncate(community.scope, 20) %></td>
    <td class="cell-centred"><%=h community.websites.count %></td>
    <td>&nbsp;<%= link_to "Edit", edit_community_path(community) %>&nbsp;</td>
    </div>
  </tr>
  <% end %>

</table>

<br />

 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
Is your voter community not in our system? <%= link_to 'Add it!', new_community_path %>
<br /><br />