- form_for(@colleague) do |f|
  = f.error_messages

  %p
    = f.label :given_name
    %br
    = f.text_field :given_name

  %p
    = f.label :family_name
    %br
    = f.text_field :family_name

  %p
    = f.label :role
    %br
    = f.text_field :role

  %p
    = f.label :sequence
    %br
    = f.text_field :sequence

  %p
    = f.label :email
    %br
    = f.text_field :email

  %p
    = f.label :photo
    %br
    = f.text_field :photo

  %p
    = f.label :description
    %br
    = f.text_area :description, :cols => 70

  %p
    = f.submit "Submit"
 
= link_to 'Back', colleagues_path
