%p
  %b Given name:
  = h @colleague.given_name

%p
  %b Family name:
  = h @colleague.family_name

%p
  %b Role:
  = h @colleague.role

%p
  %b Email:
  = h @colleague.email

%p
  %b Photo:
  = h @colleague.photo

%p
  %b Description:
  = @colleague.description

= link_to 'Edit', edit_colleague_path(@colleague)
|
= link_to 'Back', colleagues_path
