<p>
  <b>Date submitted:</b>
  <%=h @proposal.date_submitted %>
</p>

<p>
  <b>Date agm:</b>
  <%=h @proposal.date_agm %>
</p>

<p>
  <b>Company:</b>
  <%=h @proposal.company %>
</p>

<p>
  <b>Company url:</b>
  <%=h @proposal.company_url %>
</p>

<p>
  <b>Ticker:</b>
  <%=h @proposal.ticker %>
</p>

<p>
  <b>Proposal type:</b>
  <%=h @proposal.proposal_type %>
</p>

<p>
  <b>Proposal url:</b>
  <%=h @proposal.proposal_url %>
</p>

<p>
  <b>Correspondence:</b>
  <%=h @proposal.correspondence %>
</p>

<p>
  <b>Result:</b>
  <%=h @proposal.result %>
</p>


<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>