- @page_title = 'Listing colleagues'

%h1 Listing colleagues

%table
  %tr
    %th Given name
    %th Family name
    %th Role
    %th Sequence
    %th Email
    %th Photo
    %th Description

  - @colleagues.each do |colleague|
    %tr
      %td= h colleague.given_name
      %td= h colleague.family_name
      %td= h colleague.role
      %td= h colleague.sequence
      %td= h colleague.email
      %td= h colleague.photo
      %td= colleague.description
      %td= link_to 'Show', colleague
      %td= link_to 'Edit', edit_colleague_path(colleague)
      %td= link_to 'Destroy', colleague, :confirm => 'Are you sure?', :method => :delete

%h2
  = link_to 'New colleague', new_colleague_path

%br
