- @page_title = 'Mark Latham\'s Résumé'

%table#cv{:cellspacing => "1px", :cellpadding => 0}

  %tr
    %td.heading RÉSUMÉ
    %td.heading{:colspan => 2} MARK LATHAM 	

  %tr
    %td.pad Phone
    %td
    %td.pad (604) 608-9779

  %tr
    %td Email
    %td
    %td mark [at] votermedia.org

  %tr
    %td Address
    %td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %td 1755 Robson Street #469, Vancouver BC, Canada V6G 3B7

  %tr
    %td{:colspan => 3}
      %hr

  %tr
    %td.heading EXPERIENCE

  %tr
    %td.pad 2006 - present
    %td.pad.subheading{:colspan => 2}= link_to('VoterMedia.org', 'http://votermedia.org')

  %tr
    %td
    %td
    %td.emphasis Founder

  %tr
    %td
    %td
    %td
      Developing a voter funded media system to improve accountability of elected leaders in democracies and corporations -- see
      = link_to('Global Voter Media Platform', 'http://votermedia.org/publications/GlobalVoterMediaPlatform.pdf') + '.'

  %tr
    %td.pad 2007 - present
    %td.pad.subheading{:colspan => 2}= link_to('ProxyDemocracy', 'http://proxydemocracy.org')

  %tr
    %td
    %td
    %td.emphasis Director

  %tr
    %td
    %td
    %td
      Nonprofit organization that helps individual investors vote their shares and evaluate voting policies of institutional investors. Based on ideas in
      = link_to('Proxy Voting Brand Competition', 'http://votermedia.org/publications/ProxyVotingBrandCompetition.pdf') + '.'

  %tr
    %td.pad 1996 - 2007
    %td.pad.subheading{:colspan => 2} The Corporate Monitoring Project

  %tr
    %td
    %td
    %td.emphasis Founder; Corporate Governance Consultant

  %tr
    %td
    %td
    %td Developing and promoting a new approach to improving shareowner oversight of corporate management.

  %tr
    %td.pad 1994 - 1995
    %td.pad{:colspan => 2}
      %span.subheading Merrill Lynch
      %span (Tokyo)

  %tr
    %td
    %td
    %td.emphasis Director; Head of Quantitative Equity Trading Group

  %tr
    %td
    %td
    %td Created and traded quantitative strategies in Japanese equity and derivative instruments, including stocks, warrants and futures.

  %tr
    %td.pad 1994 - 1995
    %td.pad{:colspan => 2}
      %span.subheading Salomon Brothers
      %span (New York)

  %tr
    %td
    %td
    %td.emphasis Vice President; Head of Risk Management Department

  %tr
    %td
    %td
    %td Firmwide risk measurement – model development, system integration, risk pricing, forecasting, monitoring, validation.

  %tr
    %td.pad 1994 - 1995
    %td.pad{:colspan => 2}
      %span.subheading Salomon Brothers Asia
      %span (Tokyo)

  %tr
    %td
    %td
    %td.emphasis Vice President

  %tr
    %td
    %td
    %td Built arbitrage trading models and systems. Pricing and risk management of equity, fixed-income and currency derivatives.

  %tr
    %td
    %td.pad{:colspan => 2}
      %span.subheading University of California at Berkeley
      %span (School of Business Administration)

  %tr
    %td 1984 - 1989
    %td
    %td.emphasis Assistant Professor of Finance

  %tr
    %td 1982 - 1984
    %td
    %td.emphasis Acting Assistant Professor of Finance

  %tr
    %td
    %td
    %td - Taught courses in security markets (stocks, bonds, options, futures), fundamental valuation, arbitrage, risk and return, investment management, corporate finance.

  %tr
    %td
    %td
    %td - Won 1984 Earl F. Cheit Outstanding Teacher Award.

  %tr
    %td
    %td
    %td - Research on information, risk, and security pricing.

  %tr
    %td{:colspan => 3}
      %hr

  %tr
    %td.heading EDUCATION

  %tr
    %td
    %td.pad{:colspan => 2}
      %span.subheading M.I.T. Sloan School of Management
      %span (Cambridge, Massachusetts)

  %tr
    %td 1984
    %td
    %td.emphasis Ph.D. in Finance

  %tr
    %td
    %td
    %td Supervised by Robert C. Merton and Fischer Black.  Thesis: “Essays on Information and Equilibrium in Security Markets”

  %tr
    %td
    %td.pad{:colspan => 2}
      %span.subheading University of British Columbia
      %span (Vancouver, Canada)

  %tr
    %td 1978
    %td
    %td.emphasis M.Sc. in Business Administration

  %tr
    %td 1974
    %td
    %td.emphasis B.Sc. in Mathematics

  %tr
    %td{:colspan => 3}
      %hr

  %tr
    %td.heading PUBLICATIONS
    %td
    %td
      %em (most are available at
      %em= link_to('votermedia.org/publications', 'http://votermedia.org/publications') + ')'

  %tr
    %td.pad February 2009
    %td.pad.subheading{:colspan => 2}= link_to('Global Voter Media Platform', 'http://votermedia.org/publications/GlobalVoterMediaPlatform.pdf')

  %tr
    %td
    %td
    %td Working paper

  %tr
    %td.pad April 2007
    %td.pad.subheading{:colspan => 2} Voter-Funded Media: Governance Reform for Democracies and Corporations

  %tr
    %td
    %td
    %td Working paper

  %tr
    %td.pad January 2007
    %td.pad.subheading{:colspan => 2}= link_to('Proxy Voting Brand Competition', 'http://votermedia.org/publications/ProxyVotingBrandCompetition.pdf')

  %tr
    %td
    %td
    %td
      %em> Journal of Investment Management
      , vol. 5, no. 1

  %tr
    %td.pad May 2005
    %td.pad.subheading{:colspan => 2} Vote Your Stock

  %tr
    %td
    %td
    %td Working paper

  %tr
    %td.pad April 2003
    %td.pad.subheading{:colspan => 2} Democracy and Infomediaries

  %tr
    %td
    %td
    %td
      %em> Corporate Governance - An International Review
      , vol. 11, no. 2

  %tr
    %td.pad June 2000
    %td.pad.subheading{:colspan => 2} The Internet Will Drive Corporate Monitoring

  %tr
    %td
    %td
    %td
      %em> Corporate Governance International
      , vol. 3, no. 2

  %tr
    %td
    %td
    %td
      (French translation in&nbsp;
      %em> Gouvernance - Revue Internationale
      , vol. 1, no. 2, Summer 2000.)

  %tr
    %td.pad January 2000
    %td.pad.subheading{:colspan => 2} Corporate Governance in Japan: A Future Scenario

  %tr
    %td
    %td
    %td
      Japan's&nbsp;
      %em> Security Analysts Journal
      , vol. 38, no. 1

  %tr
    %td.pad September 1999
    %td.pad.subheading{:colspan => 2} Collective Action for Dispersed Shareowners

  %tr
    %td
    %td
    %td
      %em> Corporate Governance International
      , vol. 2, no. 3

  %tr
    %td.pad January 1999
    %td.pad.subheading{:colspan => 2} The Corporate Monitoring Firm

  %tr
    %td
    %td
    %td
      %em> Corporate Governance - An International Review
      , vol. 7, no. 1

  %tr
    %td
    %td
    %td
      (Korean translation in Seoul National University’s&nbsp;
      %em> Journal of Finance and Banking
      , December 1998 issue. Japanese translation in Japan’s&nbsp;
      %em> Security Analysts Journal
      , vol. 36, no. 8, August 1998.)

  %tr
    %td.pad Sept/Oct 1998
    %td.pad.subheading{:colspan => 2} Corporate Monitoring: New Shareholder Power Tool

  %tr
    %td
    %td
    %td
      %em> Financial Analysts Journal
      , vol. 54, no. 5

  %tr
    %td.pad Sept/Oct 1997
    %td.pad.subheading{:colspan => 2} Proposed: A Governance ‘Monitor’

  %tr
    %td
    %td
    %td
      %em> The Corporate Board
      , vol. 18, no. 106

  %tr
    %td
    %td
    %td
      (Chinese translation in Shanghai University of Finance and Economics’&nbsp;
      %em> Foreign Economies and Management
      , Sept/Oct 1998 issue.)

  %tr
    %td.pad June 1989
    %td.pad.subheading{:colspan => 2} The Arbitrage Pricing Theory and Supershares

  %tr
    %td
    %td
    %td
      %em> Journal of Finance
      , vol. 44, no. 2

  %tr
    %td.pad March 1986
    %td.pad.subheading{:colspan => 2} Informational Efficiency and Information Subsets

  %tr
    %td
    %td
    %td
      %em> Journal of Finance
      , vol. 41, no. 1

  %tr
    %td{:colspan => 3}
      %hr

  %tr
    %td.heading OTHER

  %tr
    %td.pad 2009 - 2011
    %td.pad.subheading{:colspan => 2} U.S. Securities & Exchange Commission Investor Advisory Committee

  %tr
    %td
    %td
    %td.emphasis= link_to('Member', 'http://www.sec.gov/news/press/2009/2009-126.htm')

  %tr
    %td
    %td.pad{:colspan => 2}
      %span.subheading Strata Corporation BCS 460
      %span (Condominium "The Classico")

  %tr
    %td 2005 - 2006
    %td
    %td.emphasis Treasurer

  %tr
    %td Fall 2004
    %td
    %td.emphasis President

  %tr
    %td.pad 1999 - 2007
    %td.pad{:colspan => 2}
      %span.subheading International Corporate Governance Network
      %span –
      %span.emphasis Member

  %tr
    %td
    %td.pad{:colspan => 2}
      %span.subheading American Association of Individual Investors
      %span –
      %span.emphasis Life Member

  %tr
    %td
    %td.pad{:colspan => 2}
      %span.subheading Consumers Union
      %span –
      %span.emphasis Life Member

  %tr
    %td
    %td.pad{:colspan => 2}
      %span.subheading Languages
      %span –
      %span.emphasis English, Japanese and French

  %tr
    %td 1993
    %td
    %td 1st place, Japanese Speech Contest, Japan Society (New York)

  %tr
    %td
    %td.pad{:colspan => 2}
      %span.subheading Citizen
      %span of Canada, USA and UK

  %tr
    %td{:colspan => 3}
      %hr

  %tr
    %td
    %td
    %td
      %em (Updated as of July 2009)
