= form_for(@pub) do |f|
  = f.error_messages
 
  %p
    = f.label :date_sequence
    %br
    = f.date_select :date_sequence, :start_year => 1988
  
  %p
    = f.label :date_text
    %br
    = f.text_field :date_text
  
  %p
    = f.label :title
    %br
    = f.text_field :title, :size => 100
  
  %p
    = f.label :pages
    %br
    = f.text_field :pages
  
  %p
    = f.label :country
    %br
    = f.text_field :country
  
  %p
    = f.label :journal
    [etc]
    %br
    = f.text_field :journal, :size => 100
  
  %p
    = f.submit "Submit"

%br
%br
= link_to 'Back to publications list', publications_path
%br
%br
