- @page_title = 'Publications'

%table#table1{:cellspacing => 0, :style => "margin: auto;"}
  %tr#pubs_header
    %td{:colspan => 3, :style => "padding: 1em"}
      %h1 Publications: Articles & papers
    %td{:style => "font-weight: bold; padding-top: 1em; vertical-align: top; text-align: center"}
      = 'See also:'
    %td{:style => "padding-top: 0px"}
      %ul
        %li= link_to 'Twitter: votermedia', 'http://twitter.com/votermedia'
        %li= link_to 'Votermedia Democracy Blog', 'http://votermedia.blogspot.com/'
        %li= link_to 'Votermedia Finance Blog', 'http://votermedia.wordpress.com/'
        %li= link_to 'Clippings: Media discussions of Votermedia', clippings_path
        %li= link_to 'Shareowner proposal campaign', proposals_path
        %li= link_to 'Presentations: Mark Latham on Votermedia', presentations_path

  %tr.header 
    %td.header-centred Date
    %td.header-left Title & link
    %td.header-centred Pages
    %td.header-centred Country
    %td.header-left Description

  - for pub in @pubs
    %tr{:class => cycle('list-line-odd', 'list-line-even')}
      %td.cell-centred.leftborder= pub.date_text
      %td.cell-link=  pub.title.html_safe
      %td.cell-centred= pub.pages.round if pub.pages
      %td.cell-centred= pub.country
      %td.cell-left.rightborder= pub.journal.html_safe
      - if can? :update, pub
        %td.permission= link_to 'Edit', edit_pub_path(pub)
  %tr
    %td.footer-row{:colspan => 5}

%blockquote
  Many of the above papers are also archived at
  = link_to('Social Science Research Network', 'http://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=1331') + '.'
%br
- if can? :create, Pub
  %span.permission= link_to 'Add new publication', new_pub_path
  %br
  %br
