- @page_title = 'Publications'

%h1 &nbsp;Publications

%p{:align => "right", :style => "font-weight: bold"}
  See also
  = link_to 'Clippings: media discussions of VoterMedia', clippings_path

%table#table1{:cellspacing => 0}
  %tr.header 
    %td.header-centred Date
    %td.header-left Title & link
    %td.header-centred Country
    %td.header-left Journal [etc]

  - for pub in @pubs
    %tr{:class => cycle('list-line-odd', 'list-line-even')}
      %td.cell-centred= pub.date_text
      %td.cell-link= pub.title
      %td.cell-centred= pub.country
      %td.cell-left= pub.journal
      - if current_user and (current_user.permission >= 7.0)
        %td.permission= link_to 'Edit', edit_pub_path(pub)
        %td.permission= link_to 'Destroy', pub, :confirm => 'Are you sure?', :method => :delete

%br
- if current_user and (current_user.permission >= 7.0)
  %span.permission= link_to 'Add new publication', new_pub_path
  %br
  %br
