- @page_title = 'Publications'

%table#table1{:cellspacing => 0}
  %tr
    %td{:colspan => 2}
      %h1 &nbsp;Publications
    %td{:colspan => 2, :align => "right", :style => "font-weight: bold"}
      = 'See also: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp' + link_to('VoterMedia Finance Blog', 'http://votermedia.wordpress.com/')
      %br
      = link_to 'VoterMedia Democracy Blog', 'http://votermedia.blogspot.com/'
      %br
      = link_to 'Clippings: media discussions of VoterMedia', clippings_path
      %br
      = link_to 'Presentations: Mark Latham on VoterMedia', presentations_path
      %br
      = link_to 'Shareowner proposal campaign 1999-2006', proposals_path
      %br
      %br

  %tr.header 
    %td.header-centred Date
    %td.header-left Title & link
    %td.header-centred Country
    %td.header-left Journal [etc]

  - for pub in @pubs
    %tr{:class => cycle('list-line-odd', 'list-line-even')}
      %td.cell-centred= pub.date_text
      %td.cell-link= pub.title
      %td.cell-centred= pub.country
      %td.cell-left= pub.journal
      - if current_user and (current_user.permission >= 7.0)
        %td.permission= link_to 'Edit', edit_pub_path(pub)
        %td.permission= link_to 'Destroy', pub, :confirm => 'Are you sure?', :method => :delete

%br
- if current_user and (current_user.permission >= 7.0)
  %span.permission= link_to 'Add new publication', new_pub_path
  %br
  %br
