- @page_title = 'Publications'

%table#table1{:cellspacing => 0, :style => "margin: auto;"}
  %tr#pubs_header
    %td{:colspan => 2, :style => "padding: 1em"}
      %h1 Publications: Articles & papers
    %td{:style => "font-weight: bold; padding-top: 1em; vertical-align: top; text-align: center"}
      = 'See also:'
    %td{:style => "padding-top: 0px"}
      %ul
        %li= link_to 'Clippings: Media discussions of VoterMedia', clippings_path
        %li= link_to 'Presentations: Mark Latham on VoterMedia', presentations_path
        %li= link_to 'Shareowner proposal campaign 1999-2006', proposals_path
        %li= link_to 'VoterMedia Democracy Blog', 'http://votermedia.blogspot.com/'
        %li= link_to('VoterMedia Finance Blog', 'http://votermedia.wordpress.com/')

  %tr.header 
    %td.header-centred Date
    %td.header-left Title & link
    %td.header-centred Country
    %td.header-left Journal [etc]

  - for pub in @pubs
    %tr{:class => cycle('list-line-odd', 'list-line-even')}
      %td.cell-centred.leftborder= pub.date_text
      %td.cell-link= pub.title
      %td.cell-centred= pub.country
      %td.cell-left.rightborder= pub.journal
      - if current_user and (current_user.permission >= 7.0)
        %td.permission= link_to 'Edit', edit_pub_path(pub)
        %td.permission= link_to 'Destroy', pub, :confirm => 'Are you sure?', :method => :delete
  %tr
    %td.footer-row{:colspan => 4}
        
%br
- if current_user and (current_user.permission >= 7.0)
  %span.permission= link_to 'Add new publication', new_pub_path
  %br
  %br
