<p>
  <b>Date sequence:</b>
  <%=h @pub.date_sequence %>
</p>

<p>
  <b>Date text:</b>
  <%=h @pub.date_text %>
</p>

<p>
  <b>Title:</b>
  <%=h @pub.title %>
</p>

<p>
  <b>Country:</b>
  <%=h @pub.country %>
</p>

<p>
  <b>Journal:</b>
  <%=h @pub.journal %>
</p>


<%= link_to 'Edit', edit_pub_path(@pub) %> |
<%= link_to 'Back', pubs_path %>
