%table#table1{:cellspacing => 0, :style => "width: 20%; margin: auto;"}

  = render :partial => 'horserace_header'

  - periods = ['year', 'month', 'day']
  - periods.each do |period|
    
    - if period == 'year'
      - rankings = @yearly_rankings
      - date_style = "font-weight: bold"
      - date_format = "%Y"
      - share_precision = 1
    - elsif period == 'month'
      - rankings = @monthly_rankings
      - date_style = "font-weight: bold"
      - date_format = "%b&nbsp;%Y"
      - share_precision = 1
    - else
      - rankings = @daily_rankings
      - date_style = "font-weight: normal; padding-left: 0.3em"
      - date_format = "%Y-%m-%d"
      - share_precision = 0
      = render :partial => 'horserace_header'
    
    %tr.header
      %td.header-centred= period.capitalize
      %td.header-centred Funding
      - for website_id in @website_ids
        %td.header-centred #
        %td.header-centred Share
        %td.header-centred Award
    
    - index = 0
    - group_index = 0
    - until group_index >= rankings.size
      %tr{:class => cycle('list-line-odd', 'list-line-even')}
        %td.cell-centred.leftborder{:style => date_style}= rankings[group_index].end.strftime(date_format)
        %td.cell-centred.funded.rightborder
          %strong= '$' + number_with_precision(rankings[group_index].funds, :precision => 0)
        - for website_id in @website_ids
          - index = group_index
          - found_flag = 0
          - while rankings[index].end == rankings[group_index].end
            - if found_flag == 0 && rankings[index].website_id == website_id
              - found_flag = 1
              %td.cell-centred= rankings[index].rank
              %td.cell-centred.cell-like-link
                = number_with_precision(rankings[index].share, :precision => share_precision) + '%'
              %td.cell-right.horserace-award.rightborder= '$' + number_with_precision(rankings[index].award, :precision => 2)
              - break
            - index += 1
            - break if index >= rankings.size
          - if found_flag == 0
            %td
            %td
            %td.rightborder
      - break if group_index+1 >= rankings.size
      - while rankings[group_index].end == rankings[group_index+1].end
        - group_index += 1
        - break if group_index+1 >= rankings.size
      - group_index += 1
  
  = render :partial => 'horserace_header'
