%p
  %label Type of community:
  = link_to @community.category, communities_path(:q => @community.category)

  %label &nbsp; &nbsp; Headquarters:
  = @community.location

  %label &nbsp; &nbsp; Regional scope:
  - if @community.scope
    = link_to @community.scope, communities_path(:q => @community.scope)

%p
  - if @community.official_url != ""
    - if @community.category == "Corporation"
      %label= link_to 'Official corporate website', @community.official_url, :target => "_blank"
    - else
      %label= link_to 'Official community website', @community.official_url, :target => "_blank"
    &nbsp; &nbsp;
  - if @community.wiki_url != ""
    - if @community.category == "Corporation"
      %label= link_to 'Yahoo Finance page', @community.wiki_url, :target => "_blank"
    - else
      %label= link_to 'Wikipedia page', @community.wiki_url, :target => "_blank"

%p
  %label Description:
  = simple_format truncate(@community.description, :length => 500)

%p
  %label Funding status:
  - if @community.status == nil || @community.status == ""
    Not currently funded. This ballot is for if and when there is funding. Without funding there may be few votes, which makes the rankings less meaningful. For a funded ballot, see
    = link_to('UBC AMS', '/ubc') + '.'
  - else
    %span.funded= truncate(@community.status, :length => 1000).html_safe

%p
  %label Add/Correct:
  You can add to or correct this community's data and website/blog list by emailing admin[at]votermedia.org.

-# %p= link_to('See all our data on this community & add to it', add_to_community_path(@community))

- if current_user and (current_user.permission >= 4.0)
  %p.permission
    = link_to('Edit community data', edit_community_path(@community))
    - if current_user and (current_user.permission >= 9.0)
      &nbsp; &nbsp;
      = link_to('Fund', '/communities/fund/' + @community.id.to_s)

