%table#table1{:cellspacing => 0, :style => "table-layout: fixed; width: 80%; min-width: 46em; margin-left: 10%; margin-right: 10%;"}
  %tr.header
    - if current_user and (current_user.permission >= 8.5)
      %th.header-centred.permission{:style => "width: 3em"} Ct1
      %th.header-centred.permission{:style => "width: 3em"} Ct0
    %th.header-centred{:style => "width: 3em"} #
    %th.header-centred{:style => "width: 4em"} Share
    %th.header-centred{:style => "width: 8em"} Your&nbsp;Votes
    %th.header-left{:style => "width: 18em"} Blog/Website
    -# The non-breaking spaces help the table width on my iPAQ. Need to check on iPhone.
    %th.header-left &nbsp;Recent&nbsp;Posts&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    - if current_user and (current_user.permission >= 8.5)
      %td{:style => "width: 3em"}

  - @rankings.each do |ranking|
    -# In case website was deleted but orphaned ranking record still exists:
    -# And to exclude rankings that have been dropped:
    -# Should these two conditions be handled in communities_controller?
    - if ranking[:website] && ranking[:status] != "out"
      %tr
        - if current_user and (current_user.permission >= 8.5)
          %td.cell-centred.permission= number_with_precision(ranking[:count1], :precision => 2)
          %td.cell-centred.permission= number_with_precision(ranking[:count0], :precision => 2)
        - if ranking[:status] == "limbo" && ranking[:share] <= 0.0
          -# because if ranking[:share] > 0.0 then it was just sent to limbo today and tally not done yet.
          %td.cell-centred.limbo.ballot_row.leftborder{:colspan => 2}= link_to "Not entered", '/rankings/' + ranking[:ranking_id].to_s
        - else
          %td.cell-centred.ballot_row.leftborder= ranking[:rank]
          %td.cell-centred.cell-link.ballot_row= link_to number_with_precision(ranking[:share], :precision => 0) + '%', '/rankings/' + ranking[:ranking_id].to_s
        -# TODO: use named_route/resource
        -# if @ballot.click.find(:last, :conditions => ["community_id = ? and website_id = ?", @community.id, ranking[:website].id]) this doesn't work so I wrote the ugly code below. Code finds latest vote for that website and checks if support is negative (i.e. vote cancelled).
        - @flag = 0
        - @created = Time.parse("1999-01-01 16:57:45.608000 -04:00")
        - for click in @ballot.clicks
          - if click.community_id == @community.id && click.website_id == ranking[:website].id
            - @flag = 1
            - if click.created_at > @created
              - @created = click.created_at
              - support = click.support
        %td.cell-centred.ballot_row{:id => "vote_cell_#{ranking[:website].id}", :style => "color: green"}
          = render :partial => 'vote', :locals => { :community => @community, :website => ranking[:website], :support => support, :flag => @flag }
        - case
          - when ranking[:share] <= 0.0
            - rows = 1
          - when ranking[:share] > 0.0 && ranking[:share] < 20.0
            - rows = 2
          - when ranking[:share] >= 20.0
            - rows = 3
        %td.cell-link.ballot_row
          = link_to truncate(ranking[:website].title, :length => 55, :omission => "..."), ranking[:website].url, :target => "_blank"
        %td.ballot_row.rightborder
          %table.multipost{:style => "width: 100%"}
            - post = Post.find(:all, :conditions => ["website_id = ?", ranking[:website]], :order => "posted_at DESC", :limit => rows)
            - post.each do |post|
              %tr
                %td.postdate{:style => "width: 6em"}
                  - if post.posted_at < 6.months.ago
                    = post.posted_at.to_s(:Y_mon)
                  - else
                    = post.posted_at.to_s(:mon_day)
                %td.post.cut
                  %a{:href => post.url, :target => "_blank"}
                    - if post.headline
                      %span{:style => "font-weight: bold"}= truncate(post.headline + ":", :length => 300)
                    - text = ""
                    - if post.summary
                      - text = strip_tags(post.summary) + ' | '
                    - if post.body
                      - text = text + strip_tags(post.body)
                    = truncate(text, :length => 300)
          
        - if current_user and (current_user.permission >= 8.5)
          %td.permission= link_to 'Edit', edit_website_path(ranking[:website])
  %tr
    - if current_user and (current_user.permission >= 8.5)
      %td
      %td
    %td{:colspan => 5, :style => "border-bottom: 8px solid #a00; padding: 0px"}

%div{:style => "width: 80%; margin-left: 10%; margin-right: 10%;"}

  %p= will_paginate @rankings

  %p
    Vote % shares for as many as you like.
    %noscript= 'Click Submit after each vote.'
    Nonvotes are equivalent to 0%. Your votes need not sum to 100%. Shares updated nightly. &nbsp; &nbsp;
    = '[' + link_to('FAQ&nbsp;on&nbsp;voting', '/faqs#Voting') + ']'

  %p
    %strong
      Past funding shares: see
      = link_to "horserace", :controller => "communities", :action => "horserace"
    or click on a share% above.
  
  %p If you don't want other users of your computer to see your votes, please exit browser when finished voting.
  
  - if @rankings.last[:status] == "limbo"
    %p You can vote for blogs/websites shown above as "Not entered". If they do enter later, your votes will count for them then. To enter, email mark[at]votermedia.org.
