%div{:style => "max-width: 49em; margin: auto"}
  .listing
    %table#table1{:cellspacing => 0}
      
      %tr.header
        %td.header-left Community
        %td.header-centred Type
        %td.header-left{:colspan => 2, :style => "padding-left: 0.6em"} Headquarters:
        %td.header-centred
        %td.header-centred Blogs
      
      %tr.header
        %td.header-left
        %td.header-centred 
        %td.header-centred Country
        %td.header-centred Prov/State
        %td.header-centred City
        %td.header-centred
    
      - @communities.each do |community| 
        %tr{:class => cycle('list-line-odd', 'list-line-even')}
          %td.cell-link.leftborder{:style => "padding-left: 0.7em"}= render_community(community)
          %td.cell-centred{:style => "white-space: nowrap"}= render_category(community)
          %td.cell-centred= render_location(community, :country)
          %td.cell-centred= render_location(community, :prov_state)
          %td.cell-centred= render_location(community, :city)
          %td.cell-centred.rightborder= render_websites_count(community) 

          -# Commented out because it was displaying regardless of user permission level (don't know why):
          -# = render_community_actions(community)

      %tr
        %td.footer-row{:colspan => 6}
          %table{:style => "width: 100%"}
            %tr
              %td{:style => "white-space: nowrap"}= paginate(@communities)
              %td{:align => "right", :style => "padding-left: 2em"} Is your voter community not in our system? Add it by email to admin[at]votermedia.org
        - if current_user and (current_user.permission >= 4.0)
          %td.permission= link_to 'Add community', new_community_path
