-# main_column do
%div
  
  %table{:width => "100%", :cellspacing => 0}
    %tr
      
      %td{:style => "vertical-align: top; max-width: 340px"}
        
        %table{:cellspacing => 0}
          %tr
            %td{:colspan => 2, :align => "center", :style => 'border: 1px solid; background-color: #EEEEEE; '}
              %p{:style => 'color: green; width: 25em'}
                How to fund an internet commons:
                %br
                %strong
                  %a{:href => 'https://votermedia.blogspot.ca/2016/11/a-global-software-users-co-op-could.html'}
                    A global software users' co-op could #BuyTwitter
              %p{:style => 'color: green; width: 25em'}
                Vote $ for municipal news:
                %br
                %strong
                  %a{:href => 'http://votermedia.org/publications/2016-10-04-Latham-Brief-to-CHPC-re-Media.pdf'}
                    Canadian Journalism Policy Proposal
              %p{:style => 'color: green; width: 25em'}
                Bowing to pressure from democracy critics:
                %br
                %strong
                  %a{:href => 'http://www.theglobeandmail.com/report-on-business/mountain-equipment-co-op-eases-board-applicant-rules/article32383675/'}
                    MEC eases board-applicant rules
              %p{:style => 'color: green; width: 25em'}
                Corporations in the cloud:
                %br
                %strong
                  %a{:href => 'http://votermedia.org/publications/HowDAOsCanUseVotermedia.pdf'}
                    How DAOs Can Use Votermedia
          - @videos.each do |video|
            %tr
              %td{:align => "center"}
                %p
                  %strong= video.title + ":"
                %p= link_to 'Transcript', video_path(video)
              %td
                %p
                  %object.flashbanner
                    %param{:name => "movie", :value => "http://www.youtube.com/v/" + video.url + "&hl=en&fs=1"}
                    %param{:name => "allowFullScreen", :value => "true"}
                    %param{:name => "allowscriptaccess", :value => "always"}
                    %param{:name => "wmode", :value => "transparent"}
                    %embed{:src => "http://www.youtube.com/v/" + video.url + "&hl=en&fs=1", :type => "application/x-shockwave-flash", :allowfullscreen => "true", :allowscriptaccess => "always", :wmode => "transparent", :width => "260", :height => "210"}
      
      %td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      %td{:style => "vertical-align: top;"}
        
        %ul{:style => 'padding-right: 1em'}
          %li
            %strong{:style => 'color: #800'} Votermedia connects people who are about to vote, with people who have studied the issues.
            It helps communities connect with their elected leaders, by letting voters allocate community funds to competing blogs.
            This motivates bloggers to serve the community, especially during elections; also between elections.
            It can benefit democracies, co-ops and corporate shareowners.
            Likely early adopters include student unions, credit unions and municipal governments.
          %li
            %strong{:style => 'color: #800'} This website
            is a demo showing communities that could benefit from votermedia, and blogs that cover those communities now.
            This illustrates the potential future expansion of votermedia.
            If and when communities start funding their blogs, they will provide greater quality and quantity of useful content.
            Most of the ballots are not funded, but they are working so please vote for the blogs you think deserve it.
          %li
            %strong{:style => 'color: #800'} Votermedia in practice:
            Our best implementation so far has been at
            = link_to('UBC', '/ubc') + ','
            where the student union funded blogs using our system. As you can see from the videos, they consider it a success.
            It's explained in the paper
            = link_to('Experiments in Voter Funded Media', '/publications/ExperimentsInVoterFundedMedia.pdf') + '.'
          %li
            The
            %strong= link_to('Votermedia Democracy Blog', 'http://votermedia.blogspot.ca')
            covers related democratic reform projects, focusing mainly on co-ops and governments in and around Vancouver, Canada.
        %hr
        
        %div{:style => "text-align: center"}
          %h2 Which blogs serving your voter communities deserve funding?
          -# = render 'layouts/search'
        
        - cache(:fragment => "listing_page_#{params[:page]}") do
          = render 'search_table'
        
        %hr
        
        %ul{:style => 'padding-right: 1em'}
          %li
            %strong{:style => 'color: #800'} It's easy to start for your community:
            Email your community and blog information to admin[at]votermedia.org. We'll create the ballot page, usually within a day.
            Voting can begin with or without funding. Bloggers compete for their rankings, plus for funds if/when your community ballot is funded.
            As soon as the ballot page is up, you promote it to potential voters, bloggers and funders.
          %li
            %strong{:style => 'color: #800'} It's cheap:
            Usually a community would persuade its government to fund the voter-selected blogs, so that funding comes from all who benefit.
            However, anyone can contribute funding. We suggest starting with $10/day/community, none of which goes to votermedia.org;
            it all goes to the bloggers. (We're an all-volunteer nonprofit project.) Start at any time, and continue throughout the year.
            We can put the funding schedule into our system to calculate awards.
            Funders can pay bloggers directly, based on automated output from your community's
            = link_to('accounting page like this', '/ubc/horserace') + '.'
          %li
            There's also this one-page
            = link_to('Introduction to VoterMedia', '/publications/IntroductionToVoterMedia.pdf') + '.'
            Similar designs for public funding of media are advocated by leading thinkers
            = link_to('Robert McChesney & John Nichols', 'http://www.amazon.com/The-Death-Life-American-Journalism/dp/B003R4ZC5Y') + ','
            and
            = link_to('Dan Hind', 'http://www.amazon.com/The-Return-Public-Dan-Hind/dp/1844675947') + '.'
            