- main_column do
  
  %table{:width => "100%"}
    %tr
      
      %td{:width => "380px", :style => "vertical-align: top;"}
        
        %p
          %object.flashbanner
            %param{:name => "movie", :value => "http://www.youtube.com/v/8m45VbRDybA&hl=en&fs=1"}
            %param{:name => "allowFullScreen", :value => "true"}
            %param{:name => "allowscriptaccess", :value => "always"}
            %param{:name => "wmode", :value => "transparent"}
            %embed{:src => "http://www.youtube.com/v/8m45VbRDybA&hl=en&fs=1", :type => "application/x-shockwave-flash", :allowfullscreen => "true", :allowscriptaccess => "always", :wmode => "transparent", :width => "346", :height => "280"}
        %p{:align => "center"}
          %strong VoterMedia at UBC:
          = link_to('Transcript', '/videos/1')
        %hr
        %p
          %object.flashbanner
            %param{:name => "movie", :value => "http://www.youtube.com/v/Y8EMR4Ssl9c&hl=en&fs=1"}
            %param{:name => "allowFullScreen", :value => "true"}
            %param{:name => "allowscriptaccess", :value => "always"}
            %param{:name => "wmode", :value => "transparent"}
            %embed{:src => "http://www.youtube.com/v/Y8EMR4Ssl9c&hl=en&fs=1", :type => "application/x-shockwave-flash", :allowfullscreen => "true", :allowscriptaccess => "always", :wmode => "transparent", :width => "346", :height => "280"}
        %p{:align => "center"}
          %strong How VoterMedia Affects Election Campaigns:
          = link_to('Transcript', '/videos/2')
        %hr
        
        %div{:style => "width: 370px; height: 410px; overflow:-moz-scrollbars-vertical; overflow-y:auto;"}
          %ul{:style => 'padding-right: 1em'}
            %li
              %strong{:style => 'color: #800'} VoterMedia
              helps communities connect with their elected leaders, by letting voters allocate community funds to competing blogs -- e.g. see
              %strong= link_to('University of British Columbia ballot page', '/ubc') + '.'
              This motivates bloggers to serve the community. It can benefit student unions, municipalities,
              = link_to('homeowners associations', '/publications/VoterMediaForHomeownersAssociations.pdf') + ','
              other democracies and corporate shareowners.
            %li
              %strong{:style => 'color: #800'} It's easy to start for your community:
              Email your community and blog information to admin[at]votermedia.org. We'll create the ballot page, usually within a day. Then voting begins with or without funding. Bloggers compete for their rankings, plus for funds if/when your community ballot is funded. As soon as the ballot page is up, you promote it to potential voters, bloggers and funders.
            %li
              %strong{:style => 'color: #800'} It's cheap:
              Usually a community would persuade its government to fund the voter-selected blogs, so that funding comes from all who benefit. However, anyone can contribute funding. We suggest starting with $10/day/community, none of which goes to votermedia.org; it all goes to the bloggers. (We're an all-volunteer nonprofit project.) Start at any time, and continue throughout the year. We can put the funding schedule into our system to calculate awards. Funders can pay bloggers directly, based on automated output from your community's
              = link_to('accounting page like this', '/ubc/horserace') + '.'
            %li
              %strong{:style => 'color: #800'} VoterMedia in practice:
              Our flagship implementation is at
              %strong= link_to('UBC', '/ubc') + ','
              where the student union has been funding blogs using our system. As you can see from the videos, they consider it a success.  We encourage you to start and promote such contests in your voting communities. The communities and blogs listed on this website illustrate the potential future expansion of VoterMedia. The ballots are working, so please vote for the blogs you think deserve it.
        
      %td{:style => "vertical-align: top;"}
        %div{:style => "text-align: center"}
          %h2 Which blogs serving your voter communities deserve funding?
          = render 'layouts/search'
  
        = render 'search_table'
  