- start_time = Time.now
- @page_title = @community.short_name +  ": Horserace"

%h2{:style => "text-align: center"}
  = @community.name + ':'
  Media Horserace

%h3{:style => "text-align: center"}
  Past funding shares from
  = link_to "this ballot", "/" + @community.idstring
  - if @master_rankings[0]
    for websites/blogs with positive
    = @master_rankings[0].start.year.to_s
    shares

- if @master_rankings[0]
  = render :partial => 'horserace_table'
- else
  %p{:style => "text-align: center"} [There are no past funding shares from this ballot yet.]

- if current_user and (current_user.permission >= 7.0)
  %td.permission= Time.now - start_time

%br