- @page_title = "Horserace: " + @community.short_name

%h2
  = link_to @community.name, @community
  Horserace

%h3
  Funding shares history for websites with positive shares this year:  
  
%table#table1

  %tr.header
    %td.header-centred Period
    %td.header-centred Total
    - for master in @master_rankings
      %td.header-centred{:colspan => 3}
        - if website = Website.find(:first, :conditions => ["id = ?", master.website_id])
          = website.title

  %tr.header
    %td.header-centred Year
    %td.header-centred Funding
    - for master in @master_rankings
      %td.header-centred #
      %td.header-centred Share
      %td.header-centred Award
  
  %tr
    %td.cell-centred
      %strong= @master_rankings[1].start.year
    %td.cell-centred
      %strong= '$' + number_with_precision(@master_rankings[1].funds, :precision => 0)
    - for master in @master_rankings
      %td.cell-centred= master.rank
      %td.cell-centred= number_with_precision(master.share, :precision => 1) + '%'
      %td.cell-right.cell-like-link= '$' + number_with_precision(master.award, :precision => 2)

  %tr.header
    %td.header-centred Month
    %td.header-centred Funding
    - for master in @master_rankings
      %td.header-centred #
      %td.header-centred Share
      %td.header-centred Award
  
  - date_tracker = @latest_month.start.beginning_of_month
  - while date_tracker >= @earliest_month.start do
    %tr{:class => cycle('list-line-odd', 'list-line-even')}
      %td.cell-centred= date_tracker.to_s(:month_Y)
      - @row_rankings = PastRanking.find(:all, :conditions => ["community_id = ? and period = ? and start >= ? and start <= ?", params[:id], "month", date_tracker, date_tracker.end_of_month], :order => "share DESC")
      %td.cell-centred
        %strong= '$' + number_with_precision(@row_rankings[1].funds, :precision => 0)
      - for master in @master_rankings
        - flag = 0
        - for ranking in @row_rankings
          - if flag == 0 && ranking.ranking_id == master.ranking_id
            - flag = 1
            %td.cell-centred= ranking.rank
            %td.cell-centred= number_with_precision(ranking.share, :precision => 1) + '%'
            %td.cell-right.cell-like-link= '$' + number_with_precision(ranking.award, :precision => 2)
        - if flag == 0
          %td
          %td
          %td
    - date_tracker = 1.month.ago(date_tracker)
  
  
  %tr.header
    %td.header-centred Day
    %td.header-centred Funding
    - for master in @master_rankings
      %td.header-centred #
      %td.header-centred Share
      %td.header-centred Award
  
  - date_tracker = @latest_day.start
  - while date_tracker >= @earliest_day.start do
    %tr{:class => cycle('list-line-odd', 'list-line-even')}
      %td.cell-centred= date_tracker.to_s(:Ymd)
      - @row_rankings = PastRanking.find(:all, :conditions => ["community_id = ? and period = ? and start = ?", params[:id], "day", date_tracker], :order => "share DESC")
      %td.cell-centred
        %strong= '$' + number_with_precision(@row_rankings[1].funds, :precision => 0)
      - for master in @master_rankings
        - flag = 0
        - for ranking in @row_rankings
          - if flag == 0 && ranking.ranking_id == master.ranking_id
            - flag = 1
            %td.cell-centred= ranking.rank
            %td.cell-centred= number_with_precision(ranking.share, :precision => 0) + '%'
            - if ranking.award == 0.0
              %td.cell-centred.cell-like-link= '--'
            - else
              %td.cell-right.cell-like-link= '$' + number_with_precision(ranking.award, :precision => 2)
        - if flag == 0
          %td
          %td
          %td
    - date_tracker -= 1
  
  %tr.header
    %td.header-centred Day
    %td.header-centred Funding
    - for master in @master_rankings
      %td.header-centred #
      %td.header-centred Share
      %td.header-centred Award
  
  %tr.header
    %td.header-centred
    %td.header-centred
    - for master in @master_rankings
      %td.header-centred{:colspan => 3}
        - if website = Website.find(:first, :conditions => ["id = ?", master.website_id])
          = website.title
%br
