- main_column do
  %h2 Which websites/blogs serving your voter communities deserve funding?
  %p 
    Use search box on the left and/or browse below; follow links to community ballots, 
    then vote on website/blog funding:
  
  %p= paginate @communities
    
  .listing
    %table#table1{:cellspacing => 0}
    
      %tr.header
        %td
        %td.header-left Community Name
        %td.header-centred Type
        %td.header-centred{:colspan => 3} ------- Headquarters ------------------
        %td.header-centred Regional
        %td.header-centred #web-
      
      %tr.header 
        %td
        %td.header-left &nbsp; &nbsp; &nbsp; & link to ballot
        %td.header-centred 
        %td.header-centred Country
        %td.header-centred Prov/State
        %td.header-centred City
        %td.header-centred Scope
        %td.header-centred sites
    
      - @communities.each do |community| 
        %tr{:class => cycle('list-line-odd', 'list-line-even')}
          %td.add-button 
          %td.cell-link=    render_community(community)
          %td.cell-centred= render_category(community)
          %td.cell-centred= render_location(community, :country)
          %td.cell-centred= render_location(community, :prov_state)
          %td.cell-centred= render_location(community, :city)
          %td.cell-centred= render_scope(community)
          %td.cell-centred= render_websites_count(community) 

          = render_community_actions(community)

      %tr
        %td.footer-row{:colspan => 3}= paginate(@communities)
        %td.footer-row{:colspan => 5, :align => "right", :style => "font-weight: bold"}
          Is your voter community not in our system? Add it by email to editors[at]votermedia.org
        - if current_user and (current_user.permission >= 4.0)
          %td.permission= link_to 'Add community', new_community_path

