- main_column do
  
  %h2{:align => "center"}
    University of British Columbia students tell how VoterMedia helps
    =link_to('their student union', '/ubc') + ':'
  %p{:align => "center"}
    %object{:width => "425", :height => "344"}
      %param{:name => "movie", :value => "http://www.youtube.com/v/8m45VbRDybA&hl=en&fs=1"}
      %param{:name => "allowFullScreen", :value => "true"}
      %param{:name => "allowscriptaccess", :value => "always"}
      %embed{:src => "http://www.youtube.com/v/8m45VbRDybA&hl=en&fs=1", :type => "application/x-shockwave-flash", :allowscriptaccess => "always", :allowfullscreen => "true", :width => "425", :height => "344"}
  %p{:align => "center"}
    Transcript of this video is available
    = link_to('here', '/videos/1') + '.'
  %hr
  
  %div{:style => "width: 80%; margin-left: 10%; margin-right: 10%;"}
    %p
      %strong Votermedia.org
      is in an early stage of growth. Our flagship implementation is at
      = link_to('UBC', '/ubc') + ','
      where the student union has been funding blogs using our system. They are happy with it, so we are now exploring possibilities for other communities to fund their voter-selected blogs. At this point, most communities are not yet doing that, so their ballot pages are for if and when there is funding.
    %p
      The communities and blogs listed below illustrate the potential future expansion of VoterMedia. The ballots are working, so please vote for the blogs you think deserve it. Your votes will be tallied, and will affect the shares and rankings. Please email your suggestions to editors[at]votermedia.org, such as other blogs and communities we should add.
  %hr
  
  %div{:style => "text-align: center"}
    %h2 Which websites/blogs serving your voter communities deserve funding?
    = render 'layouts/search'
    %p 
      Use search box and/or browse below; follow links to community ballots, 
      then vote on website/blog funding:
  
  .listing
    %table#table1{:cellspacing => 0, :style => "margin: auto;"}
      %tr
        %td{:colspan => 2}= paginate(@communities)
      
      %tr.header
        %td.header-left Community
        %td.header-centred Type
        %td.header-centred Headquarters
        %td.header-centred Headquarters
        %td.header-centred Headquarters
        %td.header-centred Regional
        %td.header-centred #web-
      
      %tr.header
        %td.header-left
        %td.header-centred 
        %td.header-centred Country
        %td.header-centred Prov/State
        %td.header-centred City
        %td.header-centred Scope
        %td.header-centred sites
    
      - @communities.each do |community| 
        %tr{:class => cycle('list-line-odd', 'list-line-even')}
          %td.cell-link.leftborder=    render_community(community)
          %td.cell-centred{:style => "white-space: nowrap"}= render_category(community)
          %td.cell-centred= render_location(community, :country)
          %td.cell-centred= render_location(community, :prov_state)
          %td.cell-centred= render_location(community, :city)
          %td.cell-centred= render_scope(community)
          %td.cell-centred.rightborder= render_websites_count(community) 

          = render_community_actions(community)

      %tr
        %td.footer-row{:colspan => 2}= paginate(@communities)
        %td.footer-row{:colspan => 5, :align => "right", :style => "font-weight: bold"}
          Is your voter community not in our system? Add it by email to editors[at]votermedia.org
        - if current_user and (current_user.permission >= 4.0)
          %td.permission= link_to 'Add community', new_community_path

