<h1>New community</h1>

<% form_for(@community) do |f| %>
  <%= f.error_messages %>

  <p class="required">
    * indicates required info
  </p>
  <p>
    <b class="required">* Community name</b> [50 characters max]<br />
    <%= f.text_field :name %>
  </p>
  <p>
    <b class="required">* <%= f.label :short_name %></b> [20 characters max]<br />
    (Can be same as Community name if short enough.)<br />
    <%= f.text_field :short_name %>
  </p>
  <p>
    <b class="required">* Type</b> [12 characters max]<br />
    E.g.: Co-op, Corporation, Country, Credit, Homeowner, Investor, Labour, 
    Municipal, Nonprofit, Political, Province, State, Student, Other<br />
    <%= f.text_field :category %>
  </p>
  <p>
    <b class="required">* <%= f.label :country %></b> [20 characters max] (Can be "International")<br />
    <%= f.text_field :country %>
  </p>
  <p>
    <b>Province/State</b> [20 characters max]<br />
    <%= f.text_field :prov_state %>
  </p>
  <p>
    <b><%= f.label :city %></b> [20 characters max]<br />
    <%= f.text_field :city %>
  </p>
  <p>
    <b>Official website URL</b><br />
    <%= f.text_field :official_url %>
  </p>
  <p>
    <b>Wikipedia URL</b><br />
    <%= f.text_field :wiki_url %>
  </p>
  <p>
    <b><%= f.label :description %></b><br />
    <%= f.text_area :description %>
  </p>

  <%= f.submit "Create" %>
  
<% end %>

<br />
