- @page_title = @community.short_name

-# main_column do
%div
  %table{:style => "margin: auto"}
    %tr
      %td
        %h1{:style => "text-align: center"}= h @community.name
        %h3{:style => "text-align: center"}
          How should the 
          = h @community.short_name 
          voter community divide funding among these blogs/websites?
        - unless current_user
          %h4{:style => "text-align: center; color: grey"}
            [BTW most communities give your votes more weight if you log in.]
        - if Community.bc_muni_funded.include?(@community)
          %h4{:style => "text-align: center; color: green"}
            This ballot will allocate up to $1,000 to competing blogs! (Info in grey box below.)
      - if File.exists?(Rails.root.to_s + "/public/images/id/" + @community.idstring + ".jpg")
        %td{:style => "padding-left: 1em"}
          %img{:src => "/images/id/" + @community.idstring + ".jpg"}
  
  .listing
    - if @community.websites.any?
      %br
      = render :partial => 'rankings'
    - else
      = render :partial => 'no_rankings'
  
  %div{:style => "width: 80%; margin-left: 10%; margin-right: 10%;"}

    - if can? :read, Vote
      %p.permission= link_to 'Votes', community_votes_path(@community.idstring)
    - if can? :create, Website
      %p.permission= link_to 'Add a blog/website to this community', new_community_website_path(@community)
  
    - if @community.category == 'Homeowner'
      %p
        %strong How does this ballot benefit a homeowner community?:
        See
        %strong= link_to 'VoterMedia for Homeowners Associations', '/publications/VoterMediaForHomeownersAssociations.pdf'
  
    #community-box
      = render :partial => 'info'
  
    = render :partial => 'feedback_form'
