<p>
  <h2><%=h @community.name %></h2>
</p>

<p>
  <b>Short name:</b>
  <%=h @community.short_name %>
</p>

<p>
  <b>Type:</b>
  <%=h @community.category %>
</p>

<hr />
<p><b>Headquarters location --</b>

<p>
  <b>Country:</b>
  <%=h @community.country %>
</p>

<p>
  <b>Province/State:</b>
  <%=h @community.prov_state %>
</p>

<p>
  <b>City:</b>
  <%=h @community.city %>
</p>

<hr />

<p>
  <b>Regional Scope:</b>
  <%=h @community.scope %><br />
  (where most voters & operations are located)
</p>

<p>
  <b>Official website:</b>
  <%= auto_link_urls(@community.official_url, :target => "_blank") %>
</p>

<p>
  <b>Wiki:</b>
   <%= auto_link_urls(@community.wiki_url, :target => "_blank") %>
</p>

<p>
  <b>Description:</b>
  <%=h @community.description %>
</p>

<%= link_to 'Edit', edit_community_path(@community) %>
<br />

<hr />

<h4>Which websites/blogs deserve more support from the <%=h @community.short_name %> voter community?</h4>

<table>
  <tr>
    <th>Rank</>
    <th>Website</th>
    <th>Date added</th>
  </tr>

<% for website in @websites %>
  <tr>   
    <td><%=h website[:rank] %></td>
    <td><a href ="<%= website[:website].url %>" target="_blank"><%=h website[:website].title %></a></td>
<!-- Why doesn't the first part create any output?: -->
    <td><%=h website[:created_at] %> <%=h website[:website].created_at %></td>
  </tr>
<% end %>
</table>

<br/><br />
<%= link_to 'Add a Website to this Community', new_website_path(:community => @community) %>
<br /><br />