<p>
  <h2><%=h @community.name %></h2>
</p>

<p>
  <b>Short name:</b>
  <%=h @community.short_name %>
</p>

<p>
  <b>Type:</b>
  <%=h @community.category %>
</p>

<p>
  <b>Country:</b>
  <%=h @community.country %>
</p>

<p>
  <b>Province/State:</b>
  <%=h @community.prov_state %>
</p>

<p>
  <b>City:</b>
  <%=h @community.city %>
</p>

<p>
  <b>Official website:</b>
  <%= link_if_url(@community.official_url) %>
</p>

<p>
  <b>Wiki:</b>
   <%= link_if_url(@community.wiki_url) %>
</p>

<p>
  <b>Description:</b>
  <%=h @community.description %>
</p>

<%= link_to 'Edit', edit_community_path(@community) %>
<br /><br />