- @page_title = @community.short_name

- main_column do
  %h1= h @community.name
  
  %h3
    How should the 
    = h @community.short_name 
    voter community divide funding among these websites/blogs?
  
    .listing
      - if @community.websites.any?
        = render :partial => 'rankings'
      - else
        = render :partial => 'no_rankings'
  
  - if current_user and (current_user.permission >= 4.0)
    %p.permission= link_to 'Add a website/blog to this community', new_community_website_path(@community)
  
  #community-box
    = render :partial => 'info'
  
  = render :partial => 'feedback_form'
