<p>
  <h1 id="heading1">&nbsp;<%=h @community.name %></h1>
</p>

<div id="community-box">

  <b>Type of community:</b>
  <%=h @community.category %>
  <br />

  <b>Headquarters:</b>
  <%=h @community.city %>&nbsp
  <%=h @community.prov_state %>&nbsp
  <%=h @community.country %>
  <br />

  <b>Regional scope:</b>
  <%=h @community.scope %>
  <br />

  <b>Official website:</b>
  <%= auto_link_urls(@community.official_url, :target => "_blank") %>
  <br />

  <b>Wiki:</b>
   <%= auto_link_urls(@community.wiki_url, :target => "_blank") %>
  <br />

  <b>Description & keywords:</b>
  <%= truncate(@community.description, 100) %>
  <br />

  <%= link_to 'Edit community data', edit_community_path(@community) %>

</div>

<h3>Which websites/blogs deserve more support from the <%=h @community.short_name %> voter community?</h3>

<table id="community-list">
  <tr class="community-list-header">
    <td class="community-other-header">Rank</td>
    <td class="community-other-header">Your Vote</td>
    <td class="community-name-header">Website/Blog</td>
    <td class="community-other-header">Date added</td>
  </tr>

<% for website in @websites %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class="community-other"><%=h website[:rank] %></td>
    <td class="community-other"><%= button_to 'Vote' , :action => :vote_for_website, :id => website[:website], :community => @community %> </td>
    <td class="community-name"><b><a href ="<%= website[:website].url %>" target="_blank"><%=h website[:website].title %></a></b></td>
<!-- Why doesn't the first part create any output?: -->
    <td class="community-other"><%=h website[:created_at] %> <%=h website[:website].created_at.to_s(:date) %></td>
  </tr>
<% end %>
</table>

<br/>
<%= link_to 'Add a website/blog to this community', new_website_path(:community => @community) %>
<br /><br />