<title>VoterMedia: <%=h @community.short_name %></title>

<p>
  <h1><%=h @community.name %></h1>
</p>

<div id="community-box">

  <p>
  <b>Type of community:</b>
  <%= @community.category %>
  </p>

  <p>
  <b>Headquarters:</b>
  <%=h @community.city %>&nbsp
  <%=h @community.prov_state %>&nbsp
  <%=h @community.country %>
  </p>

  <p>
  <b>Regional scope:</b>
  <%=h @community.scope %>
  </p>

  <p>
  <b>Official website:</b>
  <%= auto_link_urls(@community.official_url, :target => "_blank") %>
  </p>

  <p>
  <b>Wiki:</b>
   <%= auto_link_urls(@community.wiki_url, :target => "_blank") %>
  </p>

  <b>Description & keywords:</b>
  <%= truncate(@community.description, 200) %>
  </p>

  <p>
  <%= link_to 'Edit community data', edit_community_path(@community) %>
  </p>
  
</div>

<h3>Which websites/blogs deserve more support from the <%=h @community.short_name %> voter community?</h3>

<% if @community.websites.count > 0 %>

  <p>Vote for as many as you like: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<a href="/faqs#Voting">FAQ&nbsp;on&nbsp;voting</a>]</p>

  <table id="table1" cellspacing="0" cellpadding="4">
    <tr class="header">
      <td class="header-centred">Votes</td>
      <td class="header-centred">YourVote</td>
      <td class="header-left">Website/Blog</td>
      <td class="header-centred">Date Added</td>
    </tr>

  <% for ranking in @rankings %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td class="cell-centred"><%= number_with_precision(ranking[:rank], 2) %></td>
      <td class="cell-centred"><%= button_to 'Support' , :action => :vote_for_website, :id => ranking[:website], :community => @community %> </td>
      <td class="cell-link"><b><a href ="<%= ranking[:website].url %>" target="_blank"><%= truncate(ranking[:website].title, 53) %></a></b></td>
      <td class="cell-centred"><%=h ranking[:created_at].to_s(:Ymd) %></td>
      <td><%= link_to 'Edit', edit_website_path(ranking[:website]) %></td>
    </tr>
  <% end %>
  </table>

  <br/>
  <%= link_to 'Add a website/blog to this community', new_website_path(:community => @community) %>
  <br />
  
<% else %>

  <p>
  So far no one has added a website/blog to this community. 
  You can <b><%= link_to 'add one here', new_website_path(:community => @community) %></b>.<br />
  If you don't know of one, try searching e.g. for 
  "<a href="http://www.google.ca/search?q=<%=h @community.short_name %>+election+blog" target="_blank">
  <%=h @community.short_name %> election blog</a>".<br />
  If you still don't find one, how about creating one?! 
  It's easy with free tools at sites like <a href="http://wordpress.com" target="_blank">Wordpress</a> or
   <a href="http://blogger.com" target="_blank">Blogger</a>.
  </p>

<% end %>

<br />
