- @page_title = @community.short_name

- main_column do
  %table{:style => "margin: auto"}
    %tr
      %td
        %h1{:style => "text-align: center"}= h @community.name
        %h3{:style => "text-align: center"}
          How should the 
          = h @community.short_name 
          voter community divide funding among these blogs/websites?
      - if File.exists?(RAILS_ROOT + "/public/images/id/" + @community.idstring + ".jpg")
        %td{:style => "padding-left: 1em"}
          %img{:src => "/images/id/" + @community.idstring + ".jpg"}
  
  .listing
    - if @community.websites.any?
      - if @community.id == 82
        - unless current_user
          %div{:style => "width: 80%; margin-left: 10%; margin-right: 10%;"}
            %strong
              Login is required to vote in this community.
              Please register / login via links at upper right or below.
        - else
          - unless current_user.member.include?(@community.idstring)
            %div{:style => "width: 80%; margin-left: 10%; margin-right: 10%;"}
              %strong
                To vote in this community, please validate your relationship/membership via instructions
                = link_to 'here', register_path
        %div{:style => "width: 80%; margin-left: 10%; margin-right: 10%;"}
          %strong
            Award calculations suspended while we finish automating the login system (more info
            = link_to('here', 'http://votermedia.blogspot.com') + ').'
            Meanwhile, blogs shown below in alphabetical order.
      - else
        - unless current_user
          %div{:style => "width: 80%; margin-left: 10%; margin-right: 10%;"}
            %strong
              NOTE: Login may be required for your vote to be counted in this community.
              Please register / login via links at upper right.
      = render :partial => 'rankings'
    - else
      = render :partial => 'no_rankings'
  
  %div{:style => "width: 80%; margin-left: 10%; margin-right: 10%;"}

    - if current_user and (current_user.permission >= 9.0)
      %p.permission= link_to 'Votes', community_votes_path(@community.idstring)
    - if current_user and (current_user.permission >= 4.0)
      %p.permission= link_to 'Add a blog/website to this community', new_community_website_path(@community)
  
    - if @community.category == 'Homeowner'
      %p
        %strong How does this ballot benefit a homeowner community?:
        See
        %strong= link_to 'VoterMedia for Homeowners Associations', '/publications/VoterMediaForHomeownersAssociations.pdf'
  
    #community-box
      = render :partial => 'info'
  
    = render :partial => 'feedback_form'
