<title>VoterMedia: <%=h @community.short_name %></title>

<p>
  <h1><%=h @community.name %></h1>
</p>

<div id="community-box">

  <p>
  <b>Type of community:</b>
  <%= @community.category %>
  </p>

  <p>
  <b>Headquarters:</b>
  <%=h @community.city %>&nbsp
  <%=h @community.prov_state %>&nbsp
  <%=h @community.country %>
  </p>

  <p>
  <b>Regional scope:</b>
  <%=h @community.scope %>
  </p>

  <p>
  <b>Official website:</b>
  <%= auto_link_urls(@community.official_url, :target => "_blank") %>
  </p>

  <p>
  <b>Wiki:</b>
   <%= auto_link_urls(@community.wiki_url, :target => "_blank") %>
  </p>

  <b>Description & keywords:</b>
  <%= truncate(@community.description, 200) %>
  </p>

  <p>
  <%= link_to 'Edit community data', edit_community_path(@community) %>
  </p>
  
</div>

<h3>Which websites/blogs deserve more support from the <%=h @community.short_name %> voter community?</h3>

<% if @community.websites.count > 0 %>

  <p>Vote for as many as you like: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<a href="/faqs#Voting">FAQ&nbsp;on&nbsp;voting</a>]</p>

  <table id="table1">
    <tr class="header">
      <td class="header-centred">Votes</td>
      <td class="header-centred">Your Vote</td>
      <td class="header-left">Website/Blog</td>
      <td class="header-centred">Date added</td>
    </tr>

  <% for website in @websites %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td class="cell-centred"><%= number_with_precision(website[:rank], 2) %></td>
      <td class="cell-centred"><%= button_to 'Support' , :action => :vote_for_website, :id => website[:website], :community => @community %> </td>
      <td class="cell-link"><b><a href ="<%= website[:website].url %>" target="_blank"><%= truncate(website[:website].title, 53) %></a></b></td>
<!-- Why doesn't the first part create any output?: -->
      <td class="cell-centred"><%=h website[:created_at] %> <%=h website[:website].created_at.to_s(:date) %></td>
      <td><%= link_to 'Edit', edit_website_path(website[:website]) %></td>
    </tr>
  <% end %>
  </table>

  <br/>
  <%= link_to 'Add a website/blog to this community', new_website_path(:community => @community) %>
  <br />
  
<% else %>

  <p>
  So far no one has added a website/blog to this community. You can <%= link_to 'add one here', new_website_path(:community => @community) %>.<br />
  If you don't know of one, try searching e.g. for 
  "<a href="http://www.google.ca/search?q=<%=h @community.short_name %>+election+blog" target="_blank"><%=h @community.short_name %> election blog</a>".<br />
  If you still don't find one, how about creating one?! 
  It's easy with free tools at sites like <a href="http://wordpress.com" target="_blank">Wordpress</a> or <a href="http://blogger.com" target="_blank">Blogger</a>.
  </p>

<% end %>

<br />
