- form_for(@vote) do |f|
  = f.error_messages

  %p
    = f.label :ip_address
    %br
    = f.text_field :ip_address
  
  %p
    = f.label :community_id
    %br
    = f.text_field :community_id
  
  %p
    = f.label :website_id
    %br
    = f.text_field :website_id
  
  %p
    = f.label :support
    %br
    = f.text_field :support
  
  %p
    = f.submit "Create"

= link_to 'Back', votes_path
