%table
  %tr
    %th Ip address
    %th Days
    %th Location
    %th Place
    %th{:colspan => 2} Community
    %th{:colspan => 2} Website
    %th Support
    -# %th
    %th Created
    -# %th Updated
    %th{:style => "text-align: right"} Sec
    %th{:style => "text-align: right"} #vt
    %th ID
    -# %th Type
    %th{:style => "text-align: left; padding-left: 2em"} Agent
  
  - previous_vote = @votes[0]
  - last_created = @votes[0].created_at
  - count_dittos = 0
  - for vote in @votes
    -# BEWARE: We display info for *previous_vote* after finding out if vote (i.e. the next vote) is not a repeat:
    - unless vote.ip_address == previous_vote.ip_address && vote.community_id == previous_vote.community_id && vote.website_id == previous_vote.website_id && vote.support == previous_vote.support
  
      - if ip_record = Ip.find_by_ip_address(previous_vote.ip_address)
        - found_flag = TRUE
      - else
        - found_flag = FALSE
      %tr{:style => "white-space: nowrap"}
        %td= h previous_vote.ip_address
        %td{:style => "text-align: right; padding-right: 1em"}= previous_vote.days.to_i if previous_vote.days
        %td
          - if found_flag
            = ip_record.country
            = ip_record.region
            = truncate(ip_record.city, :length => 12, :omission => '\\')
        %td
          - if previous_vote.place
            = previous_vote.place
        %td{:style => "text-align: center"}= h previous_vote.community_id
        %td{:style => "padding-right: 1em"}
          - if community = Community.find_by_id(previous_vote.community_id)
            = link_to(truncate(community.short_name, :length => 20, :omission => '\\'), community_votes_path(community.idstring))
        %td{:style => "text-align: center"}= h previous_vote.website_id
        %td
          - if website = Website.find_by_id(previous_vote.website_id)
            = truncate(website.title, :length => 20, :omission => '\\')
        %td{:style => "text-align: right; padding-right: 1em"}
          - if previous_vote.support
            = number_with_precision(previous_vote.support, :precision => 0) + '%'
        -# %td= link_to 'Show', vote
        %td{:style => "text-align: center"}= previous_vote.created_at.to_s(:YmdHMS)
        -# %td
        -#   - unless previous_vote.updated_at == previous_vote.created_at
        -#     = h previous_vote.updated_at
        %td{:style => "text-align: right"}= (last_created - previous_vote.created_at).round
        %td{:style => "text-align: right"}= count_dittos
        %td{:style => "padding-left: 1em"}= previous_vote.id
        -# %td{:style => "text-align: center"}= previous_vote.ballot_type
        %td{:style => "padding-left: 1em"}= previous_vote.agent
        
        - count_dittos = 0
        - last_created = vote.created_at
    
    - count_dittos += 1
    - previous_vote = vote