<h1>Listing votes</h1>

<table>
  <tr>
    <th>Ip address</th>
    <th>Community</th>
    <th>Website</th>
    <th>Support</th>
  </tr>

<% for vote in @votes %>
  <tr>
    <td><%=h vote.ip_address %></td>
    <td><%=h vote.community_id %></td>
    <td><%=h vote.website_id %></td>
    <td><%=h vote.support %></td>
    <td><%= link_to 'Show', vote %></td>
    <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
    <td><%= link_to 'Destroy', vote, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vote', new_vote_path %>
