- @page_title = 'Votes'

%h1.permission Listing votes

%table
  %tr
    %th Ip address
    %th Comm.
    %th{:colspan => 2} Website
    %th Support
    -# %th
    %th Created
    -# %th Updated
    %th ID
    -# %th Type
    %th Agent

  - for vote in @votes
    %tr
      %td= h vote.ip_address
      %td{:style => "text-align: center"}= h vote.community_id
      %td{:style => "text-align: center"}= h vote.website_id
      %td
        - if website = Website.find_by_id(vote.website_id)
          = truncate(website.title, :length => 20, :omission => '\\')
      %td{:style => "text-align: right; padding-right: 1em"}
        - if vote.support
          = number_with_precision(vote.support, :precision => 0) + '%'
      -# %td= link_to 'Show', vote
      %td{:style => "text-align: center"}= vote.created_at.to_s(:YmdHMS)
      -# %td
      -#   - unless vote.updated_at == vote.created_at
      -#     = h vote.updated_at
      %td{:style => "padding-left: 1em"}= vote.id
      -# %td{:style => "text-align: center"}= vote.ballot_type
      %td{:style => "padding-left: 1em"}= truncate(vote.agent, :length => 82, :omission => '')

%br

= link_to 'New vote', new_vote_path
