- @page_title = 'Votes'

%h1.permission Listing votes

%table
  %tr
    %th Ip address
    %th Location
    %th Place
    %th{:colspan => 2} Community
    %th{:colspan => 2} Website
    %th Support
    -# %th
    %th Created
    -# %th Updated
    %th ID
    -# %th Type
    %th Agent

  - for vote in @votes
    - if ip_record = Ip.find_by_ip_address(vote.ip_address)
      - found_flag = TRUE
    - else
      - found_flag = FALSE
    %tr{:style => "white-space: nowrap"}
      %td= h vote.ip_address
      %td
        - if found_flag
          = ip_record.country
          = ip_record.region
          = truncate(ip_record.city, :length => 12, :omission => '\\')
      %td
        - if vote.place
          = vote.place
      %td{:style => "text-align: center"}= h vote.community_id
      %td{:style => "padding-right: 1em"}
        - if community = Community.find_by_id(vote.community_id)
          = link_to(truncate(community.short_name, :length => 20, :omission => '\\'), "/" + community.idstring)
      %td{:style => "text-align: center"}= h vote.website_id
      %td
        - if website = Website.find_by_id(vote.website_id)
          = truncate(website.title, :length => 20, :omission => '\\')
      %td{:style => "text-align: right; padding-right: 1em"}
        - if vote.support
          = number_with_precision(vote.support, :precision => 0) + '%'
      -# %td= link_to 'Show', vote
      %td{:style => "text-align: center"}= vote.created_at.to_s(:YmdHMS)
      -# %td
      -#   - unless vote.updated_at == vote.created_at
      -#     = h vote.updated_at
      %td{:style => "padding-left: 1em"}= vote.id
      -# %td{:style => "text-align: center"}= vote.ballot_type
      %td{:style => "padding-left: 1em"}= vote.agent

%br

