- @page_title = 'About/Contact'

%div{:style => "width: 80%; margin-left: 10%; margin-right: 10%;"}
  %p
    %b VoterMedia.org
    improves the accountability of elected leaders by letting you vote on funding for blogs
    that cover how you are being represented. This can improve policies and reduce corruption
    in organizations, including governments, corporations, unions, nonprofits etc.
    We are a nonprofit nonpartisan
    = link_to('open-source', 'http://assembla.com/spaces/gvmp')
    public interest project.
    We are implementing voter-media as explained in the
    = link_to('FAQ', faqs_path) + ','
    the paper 
    = link_to 'Global Voter Media Platform', '/publications/GlobalVoterMediaPlatform.pdf'
    and our other
    = link_to('publications', '/publications') + '.'
  
  %p
    This website is built by a group of volunteers (below). 
    We plan to create a nonprofit organization to manage the project, 
    with a board of directors elected by the website's users.
    We are already practising what we preach, by
    = link_to('inviting blogs to critique VoterMedia.org', '/communities/104') + '.'
%br
%a{ :name => 'team' }
%h3{:style => "text-align: center"} The VoterMedia Team:
%table#colleagues{:cellspacing => 0, :cellpadding => 2, :style => "margin: auto;"}
  - for colleague in @colleagues
    %tr
      %td.photo{:rowspan => 2}
        - if colleague.photo != ""
          %img{:src => "images/"+colleague.photo, :width => 80, :height => 100}
      %td.upper-cell
        = h colleague.given_name
        = h colleague.family_name
      %td.upper-cell
        = h colleague.role
      - if current_user and (current_user.permission >= 7.0)
        %td.permission= link_to 'Edit', edit_colleague_path(colleague)
        %td.permission= link_to 'Destroy', colleague, :confirm => 'Are you sure?', :method => :delete
    %tr
      %td.lower-cell
        = h colleague.email
      %td.lower-cell
        = colleague.description
  %tr
    %td
    %td.upper-cell
    %td.upper-cell
  %tr
    %td
    %td.lower-cell{:colspan => 2} [Titles and affiliations shown for identification only.]

- if current_user and (current_user.permission >= 7.0)
  %span.permission= link_to 'Create new colleague', new_colleague_path
  %br
  %br