- @page_title = 'BC-MUNI'

%h2{:style => "text-align: center"} $3,000 for Bloggers Covering B.C. Municipal Issues

%div{:style => "margin-left: 10%; margin-right: 10%;"}

  %p
    British Columbia municipal elections were held on November 19, 2011. This blog competition started on October 1, 2011,
    to help inform voters. It is continuing after the election to inform citizens about their elected leaders, policies and
    other community issues. VoterMedia.org donated the first $3,000 --
    $1,000 each for:
  %ul
    %strong
      %li= link_to("Burnaby", "/burnaby")
      %li= link_to("North Vancouver", "/northvan") + " (City + District)"
      %li= link_to("Surrey", "/surreybc")
  %p
    Contest judges are the public -- awards are allocated in a daily flow according to votes cast by anyone on the above linked ballots.
    For North Vancouver and Surrey, their initial funding of $1,000 each was fully allocated
    to winning blogs by the end of November 2011. The $1,000 for Burnaby continues to be allocated until January 22, 2012.
  %p
    Continued funding will depend on finding donors/sponsors.
    Regardless of funding, the ballots will stay open for anyone to vote on blog rankings and for new blogs to enter.
  %p
    The competition is open to anyone, including professional journalists, independent bloggers and politicians.
    There is no entry fee or entry deadline.
    Votes are tallied as described in the
    = link_to("Voting FAQ", "/faqs#Voting") + "."
    Detailed rules are below.
  %p
    We have been running votermedia competitions at UBC's student union for the past 5 years.
    For more info on how it works, see the videos at
    = link_to("votermedia.org", "/")
    (especially "How VoterMedia Affects Election Campaigns") and our
    = link_to("publications", "/publications")
    (especially "Global Voter Media Platform").
  %p
    To enter your blog in this competition,
    please copy and paste all the text between the horizontal lines below into an email,
    fill in all the blanks and send it to Mark Latham (mark[at]votermedia.org).
    (We're also happy to add blogs and ballot pages for other municipalities, without funded contests.)
  %p
    %strong
      Links related to this contest:
      %ul
        %li= link_to('Burnaby Now article 2011-11-09', 'http://www.burnabynow.com/news/Burnaby+bloggers+could/5679498/story.html')
        %li= link_to('Capilano Courier article 2011-11-02', 'http://www.capilanocourier.com/2011/10/important-event-surfaces-into-public.html')
        %li= link_to('24 Hours Vancouver article 2011-10-13', 'http://vancouver.24hrs.ca/News/local/2011/10/13/18822396.html')
        %li= link_to('North Shore Outlook article 2011-10-12', 'http://www.bclocalnews.com/greater_vancouver/northshoreoutlook/news/131627783.html')
        %li= link_to('News release', '/publications/VoterMediaBCMuni2011NewsRelease.pdf')
        %li= link_to('VoterMedia Democracy Blog > Municipal', 'http://votermedia.blogspot.com/search/label/Municipal')
        %li= link_to('BC Civic Vote 2011', 'https://bc.civicvote.ca/') + ' - a new website on BC municipal elections'

%hr

%div{:style => "margin-left: 10%; margin-right: 10%;"}
  
  %h3{:style => "text-align: center"} Entry Form
  
  %p
    %strong Name of Blog:
  %p
    %strong Blog URL:
    http:// 
  %p
    I am the Editor of this blog.
    I hereby apply to enter it in the VoterMedia BC Muni Competition as described at
    = link_to("votermedia.org/bcmuni", "/bcmuni") + ","
    for this city: [type city name here]
  %p
    There is a prominent link from the above blog to the city's votermedia.org ballot.
    There is at least one recent post in the blog feed about this city.
    I agree to the competition rules on this page, and the website terms at
    = link_to("votermedia.org/terms", "/terms") + "."
    I request that any awards this blog wins in this contest be paid
    to me as the representative of this blog.
    I will notify you promptly of any changes of the information
    I am submitting in this entry, until the contest ends. My contact information is:

  %strong
    %p
      Name:
    %p
      Email:
    %p
      Phone:
    %p
      Mailing address:
  
  %p
    [You can enter the competition for more than one city, but please send a separate email for each city.
    Your blog URLs and/or post feed URLs (preferably both) must be different across cities.
    So you could have a separate blog for each city; or the same blog but with posts
    tagged by city, and tagged blog and feed URLs for each entry (like the Macleans blog at
    = link_to("votermedia.org/kwantlen", "/kwantlen") + ").]"

%hr

%div{:style => "margin-left: 10%; margin-right: 10%;"}

  %h3{:style => "text-align: center"} Rules for VoterMedia BC Muni Competition

  %p
    In addition to the contest description on this page above, and the website terms at
    = link_to("votermedia.org/terms", "/terms") + ","
    the following also apply:
  %p
    Contest funding will depend on future donors/sponsors. Contest ballots will remain open with or without funding.
  %p
    As this is an experimental contest, we (the contest administrators) may change these rules
    during the contest as we see fit.
  %p
    We plan to mail award cheques at the end of each month, for the accumulated daily winnings
    of each contestant.
  %p
    Most of the content in a contestant blog's posts feed should relate to
    matters of interest to that city's residents. We reserve the right to drop a blog from a contest if,
    in our judgment, this condition is not maintained.
  %p
    Election candidates and elected politicians may enter their campaign blogs or council blogs in this competition.
    FYI this is for the following reasons:
    %ul
      %li openness and competition;
      %li it gathers election-relevant and council-relevant blogs onto one page;
      %li candidates and council members are knowledgeable and may offer helpful insights about elections and council;
      %li
        it creates an interesting test of whether voters prefer to fund independent media or
        political campaigns or give bonuses to council members;
      %li some non-politician blogs may be very partisan anyway, or even shills for politicians;
      %li
        contest administrators should not be trying to figure out which blogs are truly "independent"
        (whatever that means); that distinction is for the voters to make, if they care.

%br