- @page_title = 'Privacy Policy'

%h2 Privacy Policy for VoterMedia.org Website
 
%p
  VoterMedia.org is a nonprofit project, planning to soon become a democratic organization controlled by its website users. 
  This is to ensure that the organization treats users as they want to be treated – with respect and consideration. 
  User privacy is an important component of this broad goal.

%p
  Our current Privacy Policy is published and updated here at
  = auto_link_urls(privacy_url) + '.' 
  Revisions to this policy are announced at
  = auto_link_urls('http://votermedia.blogspot.com/search/label/Website%20Terms') + '.'

%p
  Our Privacy Policy is developed, updated and implemented to conform with the 
  British Columbia Personal Information Protection Act. 
  Like the Act, our Policy is organized around ten internationally recognized principles as follows:

%ol
  %li
    Accountability:
    %span
      Our Privacy Officer is Mark Latham, email mark[at]votermedia.org.
      While he has the primary responsibility, everyone in our project team has committed to uphold our Privacy Policy.

  %li
    Purposes:
    %span
      When (or before) we collect your personal information, we inform you why it is needed and how it will be used. 
      If we later want to use it in other ways, we will first inform you and ask for your consent.
  
    %ul{:style => 'list-style-type:disc'}
      %li{:style => 'margin-top:0.7em'}
        We use your email address to contact you occasionally.
  
      %li
        We use your email address, IP address, and Facebook user information (if you give us access to it)
        to bring our vote tallying system statistically closer to the ideal of one vote per community member.
        Communities that sponsor their votermedia contest awards can set their vote tallying parameters
        as they think best.
  
  %li
    Consent:
    %span
      We will only collect, use or disclose your personal information with your consent (unless the law requires otherwise), 
      which may be expressed, implied, opt-in or opt-out as is reasonable in the context. 
      Your consent is not a condition for any of our services unless the information is required to provide that service. 
      You may withdraw your consent at any time,
      in which case we would tell you the likely consequences of withdrawing consent.

  %li
    Limited collection:
    %span
      We only collect personal information that is necessary for our reasonable purposes,
      and we only collect it from the person it is about.

  %li
    Limited use, disclosure and retention:
    %span
      We only use or disclose your personal information for reasonable purposes that you have consented to. 
      We only keep it as long as necessary for those purposes.

  %li
    Accuracy:
    %span
      We make reasonable efforts to ensure that your personal information is accurate and complete.
      We appreciate your help with this.

  %li
    Safeguards:
    %span
      We maintain reasonable protection against unauthorized access, use or disclosure of your personal information.

  %li
    Openness:
    %span
      In addition to the policy outlined here, you can ask more about our information policies, 
      practices and purposes by sending questions to our Privacy Officer, Mark Latham, email mark[at]votermedia.org.

  %li
    Access:
    %span
      You can check and update your personal information by logging in to VoterMedia.org.
      If you give us access to your personal information on Facebook, then you can check and update that information by
      logging in to Facebook.

  %li
    Recourse:
    %span
      If you have a complaint or concern about our use of your personal information, 
      we recommend that you take this sequence of steps as far as you consider necessary:

    %ul{:style => 'list-style-type:disc'}
      %li{:style => 'margin-top:0.7em'}
        Contact our Privacy Officer, Mark Latham, email mark[at]votermedia.org. 
        He will investigate and respond to all complaints received.
  
      %li
        Contact any or all of
        = link_to 'our project team', about_contact_url
        except for the Advisory Board.
  
      %li
        Contact any of the websites/blogs
        = link_to('listed for the VoterMedia.org community', '/communities/104') + '.'
  
      %li
        Start a blog critiquing our information practices, and add it to the
        = link_to('list for the VoterMedia.org community', '/communities/104') + '.'
  
      %li
        Contact the
        = link_to('British Columbia Information and Privacy Commissioner', 'http://www.oipcbc.org/sector_private/public_info/complaint.htm') + '.'

%br
