- @page_title = 'UBC 2010'

%h1 University of British Columbia 2010 Voter Funded Media

%h3 This year there are two UBC VFM competitions:

%table#table1{:cellspacing => 2, :cellpadding => 3}

  %tr.header
    %td
    %th.header-left Continuous VFM
    %th.header-left One-Time VFM

  %tr.list-line-even
    %td.label Voting period:
    %td.cell-left
      %span{:style => "font-weight: bold"}= link_to 'Vote now', '/communities/82-ubc-ams'
      = "-- started in 2009, continuing indefinitely"
    %td.cell-left January 25 – 29, 2010
    
  %tr
    %td.label Voting frequency:
    %td.cell-left Vote early & often! e.g. once a week
    %td.cell-left Vote once

  %tr.list-line-even
    %td.label Login to vote?:
    %td.cell-left Not required
    %td.cell-left Required

  %tr
    %td.label Award pool:
    %td.cell-left
      Jan-Feb 2010: $2,000;
      %span{:style => "font-weight: bold"} March 2010: $1,500;
      more?
    %td.cell-left $8,000

  %tr.list-line-even
    %td.label Award dates:
    %td.cell-left $50 each day, from January 4 through February 12
    %td.cell-left All decided on January 29

  %tr
    %td.label Entry fee:
    %td.cell-left No entry fee
    %td.cell-left $150

  %tr.list-line-even
    %td.label Entry deadline:
    %td.cell-left No deadline -- enter any time
    %td.cell-left January 18

  %tr
    %td.label Entry form:
    %td.cell-left See "How to enter..." below.
    %td.cell-left= link_to '2010 VFM Registration Form', '/ubc/2010VFMRegistrationForm.pdf'

  %tr.list-line-even
    %td.label Ballot choices:
    %td.cell-left 0%, 5%, 10%, 15%, 20%, 25%, 30%, 35%, 40%
    %td.cell-left $0, $500, $1000, $1500, $2000

  %tr
    %td.label Award calculation:
    %td.cell-left= link_to 'Daily interpolated consensus with time decay', '/faqs#Voting'
    %td.cell-left
      = link_to 'One-time interpolated consensus', '/ubc/InterpolatedConsensus.html'

  %tr.list-line-even
    %td.label Who can enter:
    %td.cell-left{:style => "max-width: 30em"}
      Any person, group, or organization.
      (But no entry fee, so admin may screen for media of interest to UBC students.)
    %td.cell-left{:style => "max-width: 22em"}
      Any person, group, or organization, whether affiliated with UBC or not.

  %tr
    %td.label Who can vote:
    %td.cell-left Anyone with web access who cares about UBC media.
    %td.cell-left UBC AMS members.

  %tr.list-line-even
    %td.label Sponsor:
    %td.cell-left
      Jan-Feb 2010:
      = link_to('Mark Latham', about_contact_path) + ';'
      %span{:style => "font-weight: bold"}
        March 2010:
        = link_to 'AUS', 'http://www.aus.ubc.ca/'
    %td.cell-left= link_to 'UBC Alma Mater Society', 'http://www2.ams.ubc.ca'

  %tr
    %td.label Administrator:
    %td.cell-left Mark Latham: mark[at]votermedia.org
    %td.cell-left Will Davis: willd[at]interchange.ubc.ca

  %tr.list-line-even
    %td.label More info:
    %td.cell-left
      = link_to 'FAQ', faqs_path
      &
      = link_to 'Terms', terms_path
      &
      = link_to 'VoterMedia Democracy Blog', 'http://votermedia.blogspot.com'
    %td.cell-left
      = link_to 'Media Handbook 2010', '/ubc/MediaHandbook2010.pdf'
      &
      = link_to 'AMS website VFM page', 'http://www2.ams.ubc.ca/index.php/student_government/subpage/category/voter_funded_media/'

  %tr
    %td.label Voting platform:
    %td.cell-left{:style => "font-weight: bold"}= link_to 'This website\'s UBC AMS ballot - vote now!', '/communities/82-ubc-ams'
    %td.cell-left= link_to 'AMS website voting portal', 'http://www2.ams.ubc.ca/index.php/student_government/subpage/category/vote_online/'

  %tr.list-line-even
    %td.label Results:
    %td.cell-left
      %strong= link_to 'UBC AMS Media Horserace', '/horserace/82-ubc-ams'
    %td.cell-left= link_to 'VFM awards spreadsheet', '/ubc/InterpolatedConsensusUBC20100129.xls'

%hr

%a{:name => "enter"}
%h3 How to enter the 2010 UBC Continuous VFM Competition:

%p Even if your website/blog is already on the ballot, you have to formally enter and agree to the contest terms in order to stay on the ballot. There is no entry fee, and you can enter at any time. Just send an email to Mark Latham (mark[at]votermedia.org) with your --
Name:
%br Phone number:
%br Website/blog name:
%br Website/blog URL:

%p And these words: "I am the Continuous VFM representative designated by those who run this website/blog, who have authorized me to give you payment instructions for any awards we win. You may publish on the votermedia.org website our award and payout history, and my name as the representative of this website/blog. We agree to the contest terms at http://votermedia.org/terms. We agree that we can request one payout per calendar month of our website/blog's accumulated awards via paper cheque, PayPal, or transfer to an account at Vancity or Royal Bank, with no transaction fee; and if we request more than one payout in a calendar month then a $5 fee per payout (after the first one) will be deducted from our awards."

%hr
%h4
  Details of past UBC VFM competitions
  = link_to('here', '/ubc/') + '.'
%br