- @page_title = 'UBC AMS Entry Form'

%h2{:style => "text-align: center"} Entry Form for UBC AMS Continuous VoterMedia Competition

%div{:style => "margin-left: 10%; margin-right: 10%;"}

  %p
    To enter your blog (or website or other media) in
    = link_to("this competition", "/ubc") + ","
    please copy and paste all the text between the horizontal lines below into an email, fill in all the blanks and send it to Mark Latham (mark[at]votermedia.org) AND TO the SAC Vice-Chair (sacvc[at]ams.ubc.ca). There is no entry fee and no entry deadline. The contest is continuous, so you can enter any time. More info
    = link_to("here", "http://votermedia.blogspot.com/2011/02/continuous-votermedia-relaunched.html") + "."

%hr

%div{:style => "margin-left: 10%; margin-right: 10%;"}

  %p
    %strong Name of Blog
    (or website or other media):

  %p
    %strong URL
    (blog/website address): http://

  %p
    I am the Editor of this blog (or website or other media). I hereby apply to enter it in the UBC AMS Continuous VoterMedia Competition with online ballot at
    = link_to("votermedia.org/ubc", "/ubc") + "."
    I agree to the website terms at
    = link_to("votermedia.org/terms", "/terms")
    and contest rules in the UBC AMS
    = link_to("Code of Procedure", "http://www.ams.ubc.ca/student-government/about-student-government/") + ","
    in particular the
    = link_to("code changes", "/ubc/CodeChanges2011VoterMedia.pdf")
    regarding VoterMedia that AMS Council adopted on January 26, 2011. I am an Active Member of the AMS. I am not a member of AMS Council. I request that any awards this blog wins in this contest be paid to me as the representative of the blog's contributors. I will notify you promptly of any future changes of the information I am submitting in this entry. My contact information is:

  %strong
    %p
      Name:

    %p
      Email:

    %p
      Phone:
  
    %p
      Mailing address:

  %p
    %strong
      Choose one of:
  %ol
    %li
      It's OK to make my name public.
    %li
      I prefer that my name not be made public.

  %p
    Please demonstrate (e.g. by post tags and/or statistics) that at least 40% of your media entry's content is directly related to the AMS, UBC Vancouver or its affiliated institutions, or student life at UBC Vancouver or its affiliated institutions:

%hr
%br