- @page_title = 'UBC AMS Entry Form'

%h2{:style => "text-align: center"} Entry Form for UBC AMS Continuous VoterMedia Competition

%div{:style => "margin-left: 10%; margin-right: 10%;"}

  %p
    To enter your blog (or website or other media) in
    = link_to("this competition", "/ubc") + ","
    please copy and paste all the text between the horizontal lines below (including Contest Rules) into an email, fill in all the blanks and send it to mark[at]votermedia.org. There is no entry fee and no entry deadline. The contest is continuous, so you can enter any time.

%hr

%div{:style => "margin-left: 10%; margin-right: 10%;"}

  %p
    %strong Name of Blog
    (or website or other media):

  %p
    %strong URL
    (blog/website address): http://

  %p
    I am the representative designated by those who run this blog (or website or other media). We hereby apply to enter it in the UBC AMS Continuous VoterMedia Competition with online ballot at
    = link_to("votermedia.org/ubc", "/ubc") + "."
    We agree to the website terms at
    = link_to("votermedia.org/terms", "/terms")
    and contest rules below. We request that any awards we win in this contest be paid to me as our representative. My contact information is:

  %strong
    %p
      Name:

    %p
      Email:

    %p
      Phone:
  
    %p
      Mailing address:

  %p
  
  %h4{:style => "text-align: center"} CONTEST RULES

  %ol{:style => "font-weight: normal"}
    %li
      Because this is a continuous and experimental contest with no entry fee, its adminstrators may change the contest rules and award schedule at any time. Notice of changes in these rules posted at
      = link_to("http://votermedia.blogspot.com", "http://votermedia.blogspot.com")
      is deemed sufficient notice to participants, since anyone can subscribe to posts from that blog.
    
    %li Any individual, group or organization, whether affiliated with UBC or not, may apply to enter their blog, website or other media in this contest. The contest administrators plan to require content to be substantially of interest to members of the UBC AMS community.

    %li
      The currently planned award schedule will be linked from
      = link_to("votermedia.org/ubc", "/ubc") + "."
      Awards are calculated daily and reported at
      = link_to("votermedia.org/ubc/horserace", "/ubc/horserace") + ","
      then paid out monthly by the AMS. Each winner's designated representative can pick up their award cheques in person at the AMS Business Office, SUB 2nd floor, or they will be sent to the representative's mailing address.

%hr
%br