#nav-header
  Featured Communities:
  #nav-table
    %p= link_to 'Vancouver', '/communities/51'
    %p= link_to 'British Columbia', '/communities/81'
    %p= link_to 'Canada', '/communities/5'
    %p= link_to 'Iran', '/communities/205'
    %p= link_to 'UBC AMS', '/communities/82'
    %p= link_to 'U Calgary Students', '/communities/94'
    %p= link_to 'Fair Voting BC', '/communities/209'
    %p= link_to 'CBC', '/communities/3'
    %p= link_to 'Microsoft', '/communities/109'
    %p= link_to 'Chattanooga', '/communities/191'
    %p= link_to 'CalPERS', '/communities/116'
