%table{:width => "100%"}
  %tr
    %td#banner
      - site = 'Voter' + content_tag(:span, 'Media.org', :class => 'banner2')
      = link_to site, root_path
      %span.release 
        beta

    %td{:style => "text-align: center"}
      %em
        = link_to 'Check out the new VoterMedia video!', '/videos/1'

    %td#login-nav
      - if current_user
        %span.perm0= h current_user.login
        - if current_user.permission >= 7.0
          %span.permission= '(' + link_to('admin', admin_path) + ')'
        - elsif current_user.permission >= 4.0
          %span.permission= '(editor)'
        %span.perm0
          = link_separator
          = link_to 'Logout', logout_path
      - else
        %span.perm0
          = link_to 'Register', register_path
          = link_separator
          = link_to 'Login', login_path
