%table{:width => "100%"}
  %tr
    %td#banner
      - site = 'Voter' + content_tag(:span, 'Media.org', :class => 'banner2')
      = link_to site.html_safe, root_path
      %span.release 
        beta
    
    %td
      -# Google CSE Search Box Begins
      
      %form{:id => "searchbox_002073559408216882492:leynycgy7m8", :action => "http://www.google.com/cse"}
        %input{:value => "002073559408216882492:leynycgy7m8", :name => "cx", :type => "hidden"}
        %input{:value => "FORID:1", :name => "cof", :type => "hidden"}
        %input{:name => "q", :size => "25", :type => "text"}
        %input{:value => "Search VoterMedia", :name => "sa", :type => "submit"}
      %script{:src => "http://www.google.com/coop/cse/brand?form=searchbox_002073559408216882492%3Aleynycgy7m8", :type => "text/javascript"}
      
      -# Google CSE Search Box Ends
    
    %td#login-nav
      - if user_signed_in?
        - unless @updated_relationships
          - current_user.update_relationships
          - @updated_relationships = true
        %span.perm0= h current_user.first_name + ' ' + current_user.last_name
        - if can? :manage, :all
          %span.permission= ('(' + link_to('admin', admin_path) + ')').html_safe
        %br
        %span.perm0
          = link_to 'Settings', edit_user_registration_path
          &nbsp; &nbsp; &nbsp;
          = link_to 'Logout', destroy_user_session_path
      - else
        %table
          %tr
            %td.fb
              %a{:href => "/auth/facebook"}
                %table
                  %tr
                    %td
                      Log in via
                      %br
                      facebook
                    %td
                      = image_tag "facebook_32.png"
            %td.other
              %a{:href => new_user_session_path}
                Other
                %br
                options
                
          -# = link_to 'Register', new_user_registration_path
          -# = link_to 'Register', authentications_path
          -# = link_separator
          -# = link_to 'Login', new_user_session_path
          -# = link_to 'Login', authentications_path
