%table{:width => "100%"}
  %tr
    %td#banner
      = link_to 'Voter', root_path
      %span.banner2>= link_to 'Media.org', root_path
      %span.release &nbsp; [beta]
    %td#login-nav
      - if current_user
        %span.perm0= h current_user.login
        - if current_user.permission >= 7.0
          %span.permission= '(' + link_to('admin', admin_path) + ')'
        - elsif current_user.permission >= 4.0
          %span.permission= '(editor)'
        %span.perm0
          &nbsp; | &nbsp;
          = link_to 'Logout', logout_path
      - else
        %span.perm0
          = link_to 'Register', register_path
          &nbsp; | &nbsp;
          = link_to 'Login', login_path
