%div#wrap
  %div#nav
    %ul
      %li.item_
        = link_to 'COMMUNITIES', root_path
        %ul
          %li.item_{:style => "padding-right: 0.5em"}= link_to 'Search / All', root_path
          %li.item_{:style => "padding-right: 0.5em"} FEATURED:
          - Community.featured.each do |community|
            %li.item_{:style => "padding-left: 1em"}
              = link_to(community.short_name, community_path(community))
      %li.item_
        = link_to 'FAQ', faqs_path
        %ul
          %li= link_to 'Organization', '/faqs#Organization'
          %li= link_to 'Mechanics', '/faqs#Mechanics'
          %li= link_to 'Voting', '/faqs#Voting'
          %li= link_to 'Reasoning', '/faqs#Reasoning'
      %li.item_
        = link_to 'ABOUT/CONTACT', about_contact_path
        %ul
          %li= link_to 'What is VoterMedia?', about_contact_path
          %li= link_to 'VoterMedia Team', '/about_contact#team'
      %li.item_
        = link_to 'PUBLICATIONS', publications_path
        %ul
          %li= link_to 'Articles & papers', publications_path
          %li= link_to 'Press clippings', clippings_path
          %li= link_to 'Presentations/talks', presentations_path
          %li= link_to 'Shareowner proposals', proposals_path
          %li= link_to 'VM Democracy Blog', 'http://votermedia.blogspot.com/'
          %li= link_to('VM Finance Blog', 'http://votermedia.wordpress.com/')