%div#wrap
  %div#nav
    %ul
      %li
        = link_to 'COMMUNITIES', root_path
        %ul
          %li{:style => "padding-right: 0.5em"}= link_to 'Home / Search / All', root_path
          %li{:style => "padding-right: 0.5em"} FEATURED:
          - Community.featured.each do |community|
            %li{:style => "padding-left: 1em"}
              = link_to(community.short_name, "/" + community.idstring)
              -# = link_to(community.short_name, community_path(community))
      %li
        = link_to 'FAQ', faqs_path
        %ul
          %li= link_to 'Our Organization', '/faqs#Our Organization'
          %li= link_to 'Ballot Listings', '/faqs#Ballot Listings'
          %li= link_to 'Voting', '/faqs#Voting'
          %li= link_to 'Why VoterMedia Works', '/faqs#Why VoterMedia Works'
      %li
        = link_to 'ABOUT/CONTACT', about_contact_path
        %ul
          %li= link_to 'What is VoterMedia?', about_contact_path
          %li= link_to 'VoterMedia Team', '/about_contact#team'
      %li
        = link_to 'PUBLICATIONS', publications_path
        %ul
          %li= link_to 'Articles & papers', publications_path
          %li= link_to 'Press clippings', clippings_path
          %li= link_to 'Presentations/talks', presentations_path
          %li= link_to 'Shareowner proposals', proposals_path
          %li= link_to 'VM Democracy Blog', 'http://votermedia.blogspot.com/'
          %li= link_to('VM Finance Blog', 'http://votermedia.wordpress.com/')