%div#wrap
  %div#nav
    %ul
      %li
        = link_to 'BC-MUNI-2011', root_path
        %ul
          %li{:style => "padding-right: 0.5em"} FEATURED:
          - Community.bc_muni_funded.each do |community|
            %li{:style => "padding-left: 1em"}
              = link_to(community.short_name, "/" + community.idstring)
          %li{:style => "padding-right: 0.5em"} OTHERS WITH BLOGS:
          - Community.bc_muni_others.each do |community|
            %li{:style => "padding-left: 1em"}
              = link_to(community.short_name, "/" + community.idstring)
      %li
        = link_to 'VIDEOS', root_path
        %ul
          - videos = Video.order("id")
          - videos.each do |video|
            %li= link_to video.title, video_path(video)
      %li
        = link_to 'COMMUNITIES', root_path
        %ul
          %li{:style => "padding-right: 0.5em"}= link_to 'Home / All', root_path
          %li{:style => "padding-right: 0.5em"} FEATURED:
          - Community.featured.each do |community|
            %li{:style => "padding-left: 1em"}
              = link_to(community.short_name, "/" + community.idstring)
              -# = link_to(community.short_name, community_path(community))
      %li
        = link_to 'FAQs', faqs_path
        %ul
          %li= link_to 'Our Organization', '/faqs#Our Organization'
          %li= link_to 'Ballot Listings', '/faqs#Ballot Listings'
          %li= link_to 'Voting', '/faqs#Voting'
          %li= link_to 'Why VoterMedia Works', '/faqs#Why VoterMedia Works'
      %li
        = link_to 'LINKS', links_path
        %ul
          = render :partial => 'links/categories'
          - @links_categories.each do |category|
            %li{:style => "width: 18em"}
              = link_to(category, links_path + '#' + category)
      %li
        = link_to 'PUBLICATIONS', publications_path
        %ul
          %li= link_to 'Articles & papers', publications_path
          %li= link_to 'Press clippings', clippings_path
          %li= link_to 'Presentations/talks', presentations_path
          %li= link_to 'Shareowner proposals', proposals_path
          %li= link_to 'VM Democracy Blog', 'http://votermedia.blogspot.com/'
          %li= link_to 'VM Finance Blog', 'http://votermedia.wordpress.com/'