<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- Let's try setting titles in the view pages for more flexibility.
  <title>VoterMedia: <%=h controller.controller_name %>: <%=h controller.action_name %></title>
-->
  <%= stylesheet_link_tag 'main', :media => "all" %>
  <%= javascript_include_tag :defaults %>
</head>

<body id="welcome">
  <div id="banner">
    <%= link_to 'Voter', home_path %><span class="banner2"><%= link_to 'Media.org', home_path %></span>
    <span class="release"> [alpha pre-release]</span>
  </div>
  <div id="top-bottom-nav">
    <%= link_to 'HOME', home_path %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= link_to 'ABOUT/CONTACT', about_contact_path %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= link_to 'FAQ', faqs_path %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= link_to 'HOW YOU CAN HELP', how_you_can_help_path %>
  </div>
  <div id="columns">
    <div id="side">
    <br />
<!-- Uncomment when create nav links function
      <div id="nav-header">
        My Communities:
      </div>
      <div id="nav-table">
      
      </div>
-->
      <div id="search">
        Find communities:
        <input type="text" name="fname" size="13" value=" ( not built yet! )" /><br />
        &nbsp; &nbsp; &nbsp; <input type="submit" value="Search" />
      </div>
      <br />

      <div id="nav-header">
        Featured Communities:
      </div>
      <div id="nav-table">
        <p><a href="/communities/81">British Columbia</a></p>
        <p><a href="/communities/51">Vancouver</a></p>
        <p><a href="/communities/35">Langley (District)</a></p>
        <p><a href="/communities/82">UBC AMS</a></p>
        <p><a href="/communities/3">CBC</a></p>
        <p><a href="/communities/109">Microsoft</a></p>
        <p><a href="/communities/191">Chattanooga</a></p>
      </div>

    </div>
    <div id="main">
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>


      <%= yield  %>

    </div>
  </div>
  <div id="top-bottom-nav">
    <%= link_to 'HOME', home_path %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= link_to 'TERMS', terms_path %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= link_to 'PRIVACY', privacy_path %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= link_to 'PUBLICATIONS', publications_path %>
  </div>
</body>
</html>
