!!!

%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}

  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title= 'VoterMedia' + (@page_title.blank? ? '' : ": #{@page_title}")
    = stylesheet_link_tag 'main', 'screen', :media => "screen"

  %body#welcome
    -# Wrapping the body inside a table cell helps prevent small displays like cell phones from compressing everything into too-narrow columns:
    %table{:style => "border-collapse: collapse;"}
      %tr
        %td
        
          = render 'layouts/header'
          = render 'layouts/main_nav_top'    

          #columns
            #side
              = render 'layouts/search'
              = render 'layouts/featured'

            #main
              = flash_notice
              = yield

          = render 'layouts/main_nav_bottom' 

        = render 'layouts/uservoice'
        = render 'layouts/analytics'
        
  = javascript_include_tag :defaults
